<div class="custom-fields-section">
  
    {% if resource_type == "pages" %}
    <div class="custom-fields-section__pages">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div class="custom-fields-section__item custom-fields-section__item--{{ block.type }} custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}" {{ block.shopify_attributes }}>
        {% case block.settings.key %}
        
          {% when "advanced_sections" %}
            {% render "custom_fields.pages.advanced_sections" %}
        
          {% when "right_column_content" %}
            {% render "custom_fields.pages.right_column_content" %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
    {% if resource_type == "products" %}
    <div class="custom-fields-section__products">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div class="custom-fields-section__item custom-fields-section__item--{{ block.type }} custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}" {{ block.shopify_attributes }}>
        {% case block.settings.key %}
        
          {% when "advanced_sections" %}
            {% render "custom_fields.products.advanced_sections" %}
        
          {% when "animal_skin" %}
            {% render "custom_fields.products.animal_skin" %}
        
          {% when "cart_status" %}
            {% render "custom_fields.products.cart_status" %}
        
          {% when "categorytype" %}
            {% render "custom_fields.products.categorytype" %}
        
          {% when "device_list_repeater" %}
            {% render "custom_fields.products.device_list_repeater" %}
        
          {% when "in_stock_text" %}
            {% render "custom_fields.products.in_stock_text" %}
        
          {% when "made_in_country_text" %}
            {% render "custom_fields.products.made_in_country_text" %}
        
          {% when "out_of_stock_text" %}
            {% render "custom_fields.products.out_of_stock_text" %}
        
          {% when "product_badge_text" %}
            {% render "custom_fields.products.product_badge_text" %}
        
          {% when "product_info" %}
            {% render "custom_fields.products.product_info" %}
        
          {% when "product_tabs" %}
            {% render "custom_fields.products.product_tabs" %}
        
          {% when "you_may_also_like" %}
            {% render "custom_fields.products.you_may_also_like" %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
    {% if resource_type == "collections" %}
    <div class="custom-fields-section__collections">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div class="custom-fields-section__item custom-fields-section__item--{{ block.type }} custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}" {{ block.shopify_attributes }}>
        {% case block.settings.key %}
        
          {% when "collection_bottom_text" %}
            {% render "custom_fields.collections.collection_bottom_text" %}
        
          {% when "device_list" %}
            {% render "custom_fields.collections.device_list" %}
        
          {% when "filter" %}
            {% render "custom_fields.collections.filter" %}
        
          {% when "filter_1_name" %}
            {% render "custom_fields.collections.filter_1_name" %}
        
          {% when "filter_2_name" %}
            {% render "custom_fields.collections.filter_2_name" %}
        
          {% when "hide_device_list" %}
            {% render "custom_fields.collections.hide_device_list" %}
        
          {% when "seo_left_text" %}
            {% render "custom_fields.collections.seo_left_text" %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
    {% if resource_type == "shop" %}
    <div class="custom-fields-section__shop">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div class="custom-fields-section__item custom-fields-section__item--{{ block.type }} custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}" {{ block.shopify_attributes }}>
        {% case block.settings.key %}
        
          {% when "colors" %}
            {% render "custom_fields.shop.colors" %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
</div>
