{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:33+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            01cd536d9e7c0b4ab4a127d4ef89fb85
//      Signature:      eyJpdiI6InpGOURYMW9FNDBpVzVOVlBvYXBHeUE9PSIsInZhbHVlIjoiVzFDRzRQZkoxMDIxTGtzVjA3SjN5TWdhYXpLRGFjQWVqeTBmcHZvNFllR0l2XC9kaDNvazhzT1Z4NTRtUzh0OUtRTkI2ZjJLN0tyY0xzS1FwdzRhemlwR1N5RWt6bWdoZGxETGpvbXRmTTlOS0RLcXpzK256T2lwdWFBbDRqOVowXC9hTFlpczhiXC9kSjU2Z2MzYTdvTzFYOUtKazYxYWV1aTBxdUpRNnZrS083ZzZaWU9Rd3U0NTV1TlVXNU9qVFMycE1mWVlzam9iSXhGTWZmMXNoYndLbkd0emFNVEI3TlhsZVNnVE94VDRIdGF6RFhraUtidk9sb3B3NXhcL1E0VWl2QjRTcktMMitkYmsrUGpOd0hndG1QZUJRbFwvOWE5SGNwY1hPZk9xM0dtZ1loNStwMld0bW13c3V3VmtHUlQ5OHB1K0tpN2kxUWJMRFFJc3ozUlE2am1YS3F4dGdVbEFoRWtVSVg0ZlZMdVJ6NU1pUGpoaERYUm1TMjlNUkhvNk1JQjR3a2dWRjhhQUF4SVI1Nk9CbHdnPT0iLCJtYWMiOiI5MDgwMTk3ZTdjZDVkMmIyZWQ3ZDIzZmQxM2RkNjFiY2E4Njk1YjQ1NzdkMDE4NDJjNzZlMWNmMGM5ZTg3MjAyIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div {% if hide %}style="display: none;"{% endif %} class="product card-product labo-cat-leather{{ product.metafields.custom_fields["animal_skin"] }} labo-cat-type{{ product.metafields.custom_fields["categorytype"] }} {% for tag in product.tags %}{{ tag }} {% endfor %}" id="{{product.id}}">
  <div class="labo-collection-page-grid">
    <a href="{{ product.url | within: collection }}" 
      class="product-link labo-collectopn-page-image">
      {%- comment -%} Loader {%- endcomment -%}
      <div class="collection_item_loader">
        <div class="cont_custom">
          <div class="circle circle-1"></div>
          <div class="circle circle-2"></div>
          <div class="circle circle-3"></div>
        </div>
      </div>
      {%- comment -%} End Loader {%- endcomment -%}

      {%- if product.variants.size > 1 -%}
      {%- for variant in product.variants limit: 1 -%}
      {%- assign imagevar = variant.title | replace: " / ", "-" -%}
      {%- assign imagerep = imagevar | replace: " ", "-" -%}
      {%- assign laboimage = 0 -%}

      {%- for image in product.images -%}
      {%- unless laboimage > 0 -%}
      {%- if image.alt contains imagerep -%}
      {%- assign laboimage = laboimage | plus: 1 -%}
      <img class="product-image d-block" style="display: none;" loading="lazy"  src="{{ image | img_url: '1x' }}" data-src="{{ image | img_url: '300x', scale: 2 }}" alt="{{ product.title }}" id="img-{{product.id}}">
      {%- endif -%}
      {%- endunless -%}
      {%- endfor -%}
      {%- endfor -%}
      {%- else -%}
      <img class="product-image w-100 d-block" style="display: none;" loading="lazy"  src="{{ product.images.first | img_url: '1x' }}" data-src="{{ product.images.first | img_url: '300x', scale: 2 }}" alt="{{ product.title }}">
      {%- endif -%}
    </a>
    <div class="product-info labo-collection-page-pinfo">
      <a class="d-flex product-link" href="{{ product.url | within: collection }}">
        <div class="card-product__prod-badge-wrapper">
          <span class="prod-badge{% if product.metafields.custom_fields['product_badge_text'] == blank %} opacity-0{% endif %}">
            {{ product.metafields.custom_fields["product_badge_text"] }}
          </span>
        </div>
        {%- if product.metafields.custom_fields["device_list_repeater"] != blank -%}
        {%- assign separator = "|###|" -%}
        {%- assign device_name_array = product.metafields.custom_fields["device_name"] | split: separator -%}
        {%- assign product_array = product.metafields.custom_fields["product"] | split: separator -%}
        {%- assign fc_keys = product.metafields.custom_fields["device_list_repeater"] | split: "," -%}

        {%- for i2 in fc_keys -%}
        {%- assign index2 = i2 | plus: 0 -%}
        {%- if product.url == all_products[product_array[index2]].url -%}
        {%- assign current_product_name = device_name_array[index2] -%}
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}

        <h3 class="product-title labo-collection-page-ptitle mb-auto">
          {{ product.metafields.custom_fields["categorytype"] }}{%- if product.title contains 'Case' -%} {%- endif -%}
        </h3>

        <div class="prod-type">
          {%- render 'device-name', product: product -%}
        </div>

        <div class="prod-type">
          {{ product.metafields.custom_fields["animal_skin"] }}
        </div>

        {%- if product.variants.size > 1 -%}
        {%- for option in product.options -%}
        {%- if option == "Color" or option == "Colour" -%}
        {%- assign colorcount = 0 -%}
        {%- assign index = forloop.index0 -%}
        {%- assign colorlist = '' -%}
        {%- assign color = '' -%}

        {%- for variant in product.variants -%}
        {%- capture color -%}{{ variant.options[index] }}{%- endcapture -%}
        {%- unless colorlist contains color -%}
        {%- assign colorcount = colorcount | plus:1 -%}
        {%- capture tempList -%}{{ colorlist | append: color | append: ' '}}{%- endcapture -%}
        {%- assign colorlist = tempList -%}
        {%- endunless -%}
        {%- endfor -%}
        {%- endif -%}
        {%- endfor -%}
        <div class="prod-color">
          {{ colorcount }} 
          {%- if colorcount < 2 -%}
            color
          {%- else -%}
            colors
          {%- endif -%}    
        </div>
        {%- else -%}
        <div class="prod-color">&nbsp; </div>
        {%- endif -%}
        <p class="mb-0 product-price" id="price-{{product.id}}">
          {%- assign current_currency = cart.currency.iso_code -%}
          {%- case current_currency -%}
            {%- when 'EUR' -%}
              {%- assign eur_price = product.price | money_without_currency -%}
              {{ eur_price | replace: ',', ' '| split: '.00' }} €
              {%- when 'GBP' -%}
                  {%- assign gbp_price = product.price | money_without_currency -%}
                  £ {{ gbp_price | split: '.00'}}
              {%- when 'CAD' -%}
                  {%- assign gbp_price = product.price | money_without_currency -%}
                  CAD$ {{ gbp_price | split: '.00'}}
            {%- when 'AED' -%}
              {%- assign aed_price = product.price | money_without_currency -%}
              AED {{ aed_price | split: '.00'}}
            {%- when 'JPY' -%}
              {%- assign jpy_price = product.price | money_without_currency -%}
              ¥ {{ jpy_price }}
            {%- when 'KRW' -%}
              {%- assign krw_price = product.price | money_without_currency -%}
              ₩ {{ krw_price }}
            {%- when 'QAR' -%}
              {%- assign qar_price = product.price | money_without_currency -%}
              {{ qar_price | replace: '.', '' | split: ',00' }} QAR
            {%- when 'SAR' -%}
              {%- assign sar_price = product.price | money_without_currency -%}
              SAR {{ sar_price | split: '.00'}}
            {%- when 'HKD' -%}
              {%- assign hkd_price = product.price | money_without_currency -%}
              HK$ {{ hkd_price | split: '.00'}}
            {%- when 'MXN' -%}
              {%- assign mxn_price = product.price | money_without_currency -%}
              {{ mxn_price | replace: ',', ' '| split: '.00' }} MEX$
            {%- when 'THB' -%}
              {%- assign thb_price = product.price | money_without_currency -%}
              ฿ {{ thb_price | split: '.00' }}
            {%- when 'TWD' -%}
              {%- assign twd_price = product.price | money_without_currency -%}
              NT$ {{ twd_price | split: '.00' }}
            {%- when 'AUD' -%}
              {%- assign aud_price = product.price | money_without_currency -%}
              AUD$ {{ aud_price | split: '.00' }}
            {%- when 'CHF' -%}
              {%- assign chf_price = product.price | money_without_currency -%}
              {{ chf_price | replace: ',', ' '| split: '.00' }} CHF
            {%- when 'SGD' -%}
              {%- assign sgd_price = product.price | money_without_currency -%}
              S$ {{ sgd_price | split: '.00' }}
            {%- when 'VND' -%}
              {%- assign vnd_price = product.price | money_without_currency -%}
              VND {{ vnd_price | replace: '.', ',' }}
            {%- when 'KHR' -%}
              {%- assign khr_price = product.price | money_without_currency -%}
              {{ khr_price | replace: ',', ' '| split: '.00' }} KHR
            {%- when 'ILS' -%}
              {%- assign ils_price = product.price | money_without_currency -%}
              ₪ {{ ils_price | split: '.00' }}
            {%- when 'CZK' -%}
              {%- assign czk_price = product.price | money_without_currency -%}
              {{ czk_price | replace: '.', ' '| split: ',00'  }} Kč
            {%- when 'RON' -%}
              {%- assign ron_price = product.price | money_without_currency -%}
              {{ ron_price | replace: '.', ' '| split: ',00' }} Lei
            {%- when 'BRL' -%}
              {%- assign brl_price = product.price | money_without_currency -%}
              R$ {{ brl_price | split: ',00' }}
            {%- when 'TRY' -%}
              {%- assign try_price = product.price | money_without_currency -%}
              {{ try_price | replace: ',', '.' | split: '.00' }} TL
            {%- when 'MYR' -%}
              {%- assign myr_price = product.price | money_without_currency -%}
              RM {{ myr_price | split: '.00' }}
            {%- when 'INR' -%}
              {%- assign inr_price = product.price | money_without_currency -%}
              ₹ {{ inr_price | replace: ',', '' | split: '.00' }}
            {%- when 'RUB' -%}
              {%- assign rub_price = product.price | money -%}
              {{ rub_price | replace: '.', ' '| split: ',00' }}
            {%- when 'UAH' -%}
              {%- assign uah_price = product.price | money -%}
              {{ uah_price | replace: ',', ' '| split: '.00' }}
            {%- when 'IDR' -%}
              {%- assign idr_price = product.price | money_without_trailing_zeros -%}
              {{ idr_price | replace: '.', ',' }}
            {%- when 'PLN' -%}
              {%- assign pln_price = product.price | money_without_currency -%}
              {{ pln_price | replace: '.', ' '| split: ',00' }} zł
            {%- when 'DKK' -%}
              {%- assign dkk_price = product.price | money_without_currency -%}
              {{ dkk_price | split: ',00' }} kr
            {%- when 'PHP' -%}
              {%- assign php_price = product.price | money_without_currency -%}
              ₱ {{ php_price | split: '.00'  }}
            {%- when 'BGN' -%}
              {%- assign bgn_price = product.price | money -%}
              {{ bgn_price | replace: ',', ' '| split: '.00'  }}
            {%- when 'EGP' -%}
              {%- assign egp_price = product.price | money -%}
              {{ egp_price | split: '.00' }}
            {%- when 'SEK' -%}
              {%- assign sek_price = product.price | money -%}
              {{ sek_price | replace: ',', ' ' }}
            {%- when 'AZN' -%}
              {%- assign azn_price = product.price | money_without_currency -%}
              {{ azn_price | replace: ',', '' | split: '.00' }} AZN
            {%- else -%}
              {{ product.price | money | split: '.00' }}
          {%- endcase -%}


        </p>
      </a>
    </div>
    {%- render 'color-options', product: product -%}
  </div>
</div>
<script>
  var currency_code = "{{cart.currency.iso_code}}";
  if(currency_code == 'EUR' || currency_code == 'USD') {
  $('#price-{{product.id}}').text($('#price-{{product.id}}').text().replace('.',' '));
  $('#price-{{product.id}}').text($('#price-{{product.id}}').text().replace(',',' '));
}
  
  $('#ul-{{product.id}} li').each(function (i, value) {
    $(this).hover(function (e) {
        $("#img-{{product.id}}").attr("src", $(this).attr('data-image'));
        $("#price-{{product.id}}").text($(this).attr('data-price'));
        $("#price-{{product.id}}").text($(this).attr('data-price'));
        if(currency_code == 'EUR' || currency_code == 'USD') {
          $('#price-{{product.id}}').text($('#price-{{product.id}}').text().replace('.',' '));
          $('#price-{{product.id}}').text($('#price-{{product.id}}').text().replace(',',' '));
        }
    })
});
</script>