{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:29+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            72007d021cc010536a72dde1826832c6
//      Signature:      eyJpdiI6IlZEdEpQU0tHQ2VtOElDNGJsS2pNbVE9PSIsInZhbHVlIjoiY1NcL3pjZVpUSzdZeStuVGNUVlp6WG1nR1hTZW00cXVLWlpua0FSVGdNOGFUTUtvT2dWTGpCZ3VBZVh3clF4aGxBa1FnVnN4eXZ5UlFIdFFyRjk1b2xHcTF6c3NhSXhVbUxZOFBWaUptWjZuN3B5VGhzaGRPS1JsTmU0NXdQYUM0Tk9zbzA3dHRDZUtIalNydjllZFBVRjNMZ09cL0kwa2RjUEM1T1VcL0dVU0ZnbGJ5YTBNdFwvZmJ0ZitDaXUzT3dpcFgwNnVPZ25UclwvczJRd0Q0VkJmRFhFRjB2M1wvUXVmK2pcL2dLcWpyVDNkSkZGQXJWUWc1K1FlZDNmQkFxWXhWZll5NWhpN2tycENaYkJwdVJMTmNUK3NYOXFvK2Q0U2JXZVVVQTg4VGx2bFdLT1hyWHFDSUxBZmVRVnV2aExuQmExVk1RRHpvSlArK3FkbUd3QXQ0bnB0MWhpMklKYlM5QzQxQ0pWdnhaVGhmZ0xtYktUWENzS3FrT0F4Z01pUTlOQWpTN1ErS2J4UTBtYU90enpjc0dxclNBNlR5SjZtVHhhdzRqdEJhOE14TDB4em9qOFRnUzk1Tm0yS1FZckdZdHIiLCJtYWMiOiI2ZTExOTc1YTk1YTJhNGU0MmYzYTEzNzk3Yzc2OGI3NWZmODhkN2M1MjgzZjQ4ZTBiMzMzNDU3MzQxZWQzNDg0In0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/labodet-store.myshopify.com/products/configure/204373/edit
{% endcomment %}
{% if product.metafields.custom_fields["advanced_sections"] != blank %}
  <div class="custom-field custom-field__advanced-sections custom-field__type--field-collection">
    <h3 class="custom-field--title">Advanced Sections</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign section_title_array = product.metafields.custom_fields["section_title"] | split: separator %}
      {% assign text_content_array = product.metafields.custom_fields["text_content"] | split: separator %}
      {% assign image_array = product.metafields.custom_fields["image"] | split: separator %}
      {% assign style_array = product.metafields.custom_fields["style"] | split: separator %}
      {% assign fc_keys = product.metafields.custom_fields["advanced_sections"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item--section fc-index--{{ index }}">
          <div class="fc-field field__section-title">
            {{ section_title_array[index] }}
          </div>
          <div class="fc-field field__text-content">
            {{ text_content_array[index] }}
          </div>
          <div class="fc-field field__image">
            {{ image_array[index] }}
          </div>
          <div class="fc-field field__style">
            {{ style_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}