{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:10+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            1feef3636a3aea39a2048fce292b7b34
//      Signature:      eyJpdiI6IlRZQmFJU211NFY4K0VzKzF3WW1qaWc9PSIsInZhbHVlIjoidDQ1MVJacGFSa2lpWlNDelVscnh4VmcwY1VBRFIrXC93S0kyVG9rYWtBSkJGR3pMdG5hU1NaNXhQSTIzM2ZXM1J4eUJQeTBWaStWNzVodzhnN1BadDIrbXArT3lubHkxQ3FmZDhKM2lNeFJYSmYrWlBhajVYeEdUa1BXY2k1bVowd1VOMndiejlcLzgrRklNZWs3bXdpZUN3citxYmprZG85TmlqUmNaZUFxc1E3ZCttVjRJUzZldGRCWmNXd3grNTBKSW1SWUdZZjY0citMbVVKN21CYXNiWVpjbUcxRGRCTHVMWkhiUmd3Y1FOckR6RDFrTGNESjlLRURMOFRhODJpK2NvQXlRMnRZRDJSdzRGSVlnQW1seEpEazFPUE5PN05IWUttdmMzQVRNUGFwSlRES2NUZVwvTElxMmVSdGdCSDNHQW1XMnB2TjNcL0JDcFk4Y0J6VzgwWGV3TTBcL1dEcFVCMHd5TEJiemxVcHZKZG14S3dwVFFDcGtxTFgxRlJMWXMwdm5uNVRJUlJlRHJhT2VweldhTzRBPT0iLCJtYWMiOiI1ODFmYWRjZDE1MDkxYzFiMmIwOWIyZmUwOTNiYjNmNWUzMTFjZjQ0M2UzNmRkMGI3NmJkNDUyN2Q1M2U3ZmVjIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
    Renders a form status message
    Accepts:
    - form: {Object} Form Liquid object (required)
    - form_id: {String} Form's id attribute for accessibility purpose (required)
    - success_message: {String} Success message locale key. Default to 'contact.form.post_success' (optional)

    Usage:
    {% include 'form-status', form: form, form_id: formId, success_message: post_message %}
{% endcomment %}
{%- if form.posted_successfully? -%}
  <p class="form-message form-message--success" tabindex="-1" data-form-status>
    {{ success_message | default: 'contact.form.post_success' | t }}
  </p>
  <script>
    $(".labo-standard-page-content").hide();
  </script>
{%- endif -%}

{% comment %} We need to add this so the errors are output in the right order {% endcomment %}
{% assign error_order = "author, email, body, password, form" | split: ", " %}

{%- if form.errors -%}

  <div class="form-message form-message--error">
    <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
    <ul>
      {% for error in error_order %}
        {% for field in form.errors %}
          {% if error == field %}

            {% capture field_label %}
              {% case field %}
                {% when 'author' %}
                  {{ 'contact.form.name' | t }}
                {% when 'body' %}
                  {{ 'contact.form.message' | t }}
                {% else %}
                  {{ form.errors.translated_fields[field] }}
              {% endcase %}
            {% endcapture %}

            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                {% comment %} the href should match the input's id {% endcomment %}
                <a href="#{{ form_id }}-{{ field }}" class="form-message__link">{{ field_label | strip | capitalize }} {{ form.errors.messages[field] }}</a>
              {%- endif -%}
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
