{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:24+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            519700ce00f5932ffd9c80f6b3c9abe2
//      Signature:      eyJpdiI6IjZEajZaaWZ3OXQ5NDdUcjJzT3F0WVE9PSIsInZhbHVlIjoiUExKVXZsYjh3UlFlNDczYzBrNWZ3aW9IUEdZQ3JNdFZkT1ZudmZWaXByV1FUWHpDXC9xV1RJbDJwWm1DcnBzNENyb01BRitrQUt6aTMxaHNxU1YyMHRyaDV6SWFHa3Qrc0pXNDdNM3B6NlFXR05sdnpENSttTHhWTXhuNHJDVmd2alYyWm4raHJNWERPNVgxeERIMjF4d3dcLzNQUWIyRzRGRmdjekxGUzhidjE3M2YxVncrMlk2Umo4a1VOeGZ0alRTZlpjNEV1dmVhclV0V21vZnJsa3lFM3ZYZEFsOVVSTE14ZjJTUnpIN0NcL0x2ek40a1BUNUdhSUFMNEpUcU1xOUdVYVpqcmdMdEo4TUg4ZGdSYTY4ZSs5NnBJYlRxclNQOVpCa3gzWFlGQzBwaVA4aWdINm50czNBQ0p5S0toc0wxbWczTkkxUGZPU3M2YStNSUZSbndYY1wvaTgwNFlRRHRlUCt6YmV3ZnFVekhjU283aWs2bEVGUmdZUFV2Und5amtIOFFLSU5sTzljV0w0XC9jRzFnYloxQ0hCM003aGV1Z202VGo2TEU3QTFzPSIsIm1hYyI6ImI1MTQ2ZDAxYmZkM2QyMDBmZDkzMzE3YTczNTNlYTdhZWUwODNlYTAzOTJhZTM0MWRjZDk1ZWY5ZGZiZmU5YWQifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<ul class="main-menu">
  {% for link in linklists[section.settings.main_menu].links %}

    <li class="link-item {% unless link.links == blank %} has-child{% if link.active or link.child_active %} labo-nav-first-level-page{% endif %}{% endunless %}">
      
      {% unless link.links == blank %}
      
        <a href="{{ link.url }}" class="link {% if link.active or link.child_active %} labo-nav-first-level-active{% endif %}">
          {{ link.title }}
        </a>
      
        <ul class="child-links">
          <li class="parent-item">
            <a href="{{ link.url }}" class="link">
              {% render 'icon-back' %}
              {{ link.title }}
            </a>
          </li>
          {% for clink in link.links %}
            <li {% if clink.active %}class="labo-nav-second-level-active"{% endif %}>
              <a href="{{ clink.url }}">
                {{ clink.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      
      {% else %}
      
        <a href="{{ link.url }}" class="link {% if link.active or link.child_active %} labo-nav-first-level-active{% endif %}">
          {{ link.title }}
      	</a>
      
      {% endunless %}
    </li>
  {% endfor %}
  
  <li class="link-item has-child currency-options">
    <a href="#" class="link ">
      Currency
    </a>
    {% form 'currency', id: 'sidebar-currency-selector' %}

        <ul class="child-links">
          <li class="parent-item">
            <a href="#" class="link ">
              {% render 'icon-back' %}
              Currency: {{ cart.currency.iso_code }}
            </a>
          </li>
          <ul class="item-scroll">
            {% for currency in shop.enabled_currencies %}
              <li class="{{ currency.iso_code }} {% if currency == cart.currency %} active{% endif %}">
                <label>
                  <input class="offscreen" type="radio" name="currency" value="{{ currency.iso_code }}" {% if currency == cart.currency %}checked{% endif %}>
                  {{ currency.iso_code }}
                </label>
              </li>
            {% endfor %}
          </ul>
        </ul>

    {% endform %}
  </li>
</ul>
<div class="bottom-area">
  <div class="currency_selector">
      <ul class="currency_popup_mobile">
        <li>
            <a href="javascript:void(0);" >Currency: <span class="current_currency">{{ cart.currency.iso_code }}</span></a>
        </li>
      </ul>
  </div>
  
  <div class="search-form-wrapper">
      {% render 'form-search' %}
  </div>
</div>

<script defer>
  
  var main_menu = $(".labo-mobile-nav .main-menu");
  var closingTimer;
  
  if (main_menu.find(".link-item").hasClass("active")) {
    main_menu.addClass("children-active");
  }
  
  $(".parent-item").click(function(e) {
    e.preventDefault();
    main_menu.removeClass("children-active");
    main_menu.find(".link-item").removeClass("active");
  });
  
  $(".link-item.has-child > a").click(function(e) {
    e.preventDefault();
    $(".link-item.active").removeClass("active");
    $(this).parent().addClass("active");
    main_menu.addClass("children-active");
  });
  
  $(".currency_popup_mobile a").click(function(e) {
    e.preventDefault();
    $(".link-item.currency-options > a").trigger('click');
  });
</script>


<script defer>
  
  var main_menu = $(".labo-mobile-nav .main-menu");
  var main_menu2 = $(".labo-mobile-nav .bottom-area");
  var closingTimer;
  
  if (main_menu.find(".link-item").hasClass("active2")) {
    main_menu2.addClass("children-active2");
  }
  
  $(".parent-item").click(function(e) {
    e.preventDefault();
    main_menu2.removeClass("children-active2"); 
  });
  
  $(".link-item.currency-options > a").click(function(e) {
    e.preventDefault(); 
    main_menu2.addClass("children-active2");
  });
  
  $(".currency_popup_mobile a").click(function(e) {
    e.preventDefault();
    $(".link-item.currency-options > a").trigger('click');
  });
</script>
