{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:13:52+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            56332147a2e5655e668358da77db3120
//      Signature:      eyJpdiI6InNpN2VrQitrOTkxNDNsMVwvT3FJdTlRPT0iLCJ2YWx1ZSI6IkZBUzl1YVl2STdKcHdja05JZVk1bWVEXC9TM3VSSGI2bzJKYWl5eWlUR2Y3dnJyNTBTV2JPMmhVMFZURTM2ZDN4NU5qWndkcFVyemxCbTZwZ1lpaWRkY09lQ0daTlFvUnNrZE9UM2dJdW5NalwvNGJkTEZoVVhcL2ViZkFnVlFjQWc4cDMya2FURkpsVVp6Z3VheCtwa3JlWkF1bjdhWmRtV213VWdOVnlXOFA0elduRVwvTTZma0dPa1VpaHU1SktadGFcL1BsQjRJQUoxSTBOeUh2Y3NiRHVWcGVINUoxQldlcE02MDhUUW5zSndsbWVvT2hjaUdJYno0citDSkp5OHF5OFdObEtwK0VXdG10NEdweElmNllpRzdKRThmSkQ5WTNlTGNXRG9KRXcrSVhKTFZVaytyMXFFemQrd0hNekxcL2tDXC9PeENwMmYzUDZ1VlNKZE9uQUJ2cUZCZGpCc1ZnbDN3UHVTUUJPeDYrUEtPU1REUHp1WGg0N3FxK21zaHBZYmxWdlNUcGVJRm9ENFJ5TlNwdXlNSWRBPT0iLCJtYWMiOiIxMWU1YjU4MDZkMTNmY2FmYjUyMjIyMGM5YTZlZTUxZTE5MzRkZDZkZTk1NTBlZGVkNWE2MjYyMGNjNmYyNzI0In0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}" data-predictive-search-drawer>
  <div class="search-bar__interior">
    <div class="search-form__container" data-search-form-container>
      <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
        <div class="search-form__input-wrapper">
          <input
            type="text"
            name="q"
            placeholder="{{ 'general.search.placeholder' | t }}"
            role="combobox"
            aria-autocomplete="list"
            aria-owns="predictive-search-results"
            aria-expanded="false"
            aria-label="{{ 'general.search.placeholder' | t }}"
            aria-haspopup="listbox"
            class="search-form__input search-bar__input"
            data-predictive-search-drawer-input
          />
          <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
          <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
        </div>

        <button class="search-bar__submit search-form__submit"
          type="submit"
          data-search-form-submit>
          {% include 'icon-search' %}
          <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>

      <div class="search-bar__actions">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
