{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:12+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            545ce14ffaf6880873340dd0afa2d856
//      Signature:      eyJpdiI6InZSMkY0dnVKaktZUzBWbkVhZmNNbFE9PSIsInZhbHVlIjoiNHFiQ2t0RHlqUTlVWWZqVkFCeXI2S1ptdllscHdCbUY5eGFOTkJJVlBrREVwSFM5NlwvSEw0Q1FSajRkdzRsdFZWQ0hvVWl3RTlWYVBsNk1zamx6K0hDTGNHUnpFUzRWTkdVRTdiVHJHWW9zUVwvazV5bWZzXC9pSVhCblwvaGExTVwvNm1XN2JiT0g0enRUd21uUUlQWnVSeXM1Q0NuU25aNVkrZ2tcLzUwZ3lyYm9TaWpSMVh4cXZyS1NqeW5vK3JGTlwvSGpnajErOEtIMzhWS3R0YVRvZCt6cW9CMTlYZk85MVI2ZU9QZ2hHampJNFJTcFplXC94TVhvYjl2R2J4T0ZiRWc3YUVJb0hJekhKNE5VSmoraFBaMUlTa0VJVWxnWkFoZUwzdW9TVTlxQ05ub0xmVnpiTzBSNllvNk9pM0xWRE5Yd2pvNkZTckxyOFVkRndieHFGNEllK2xFeW5CT1wvSzlMWFRaNVdTYllIQXZsRWtKdHZFWmhpdlBUWXMwejJPT3hRTVRZa0JOQ2ExdXF5VlNZOW1GM0JkZz09IiwibWFjIjoiNTIxY2U1M2IyMWRjMGZjMWRkNjNmNWY5MWRlYTk2MmE1OWM4M2UwYWZkYjQ1OGI3NDdhZWMwZTFiMTdjZmZmMyJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="labo-standard-page-main">
  {%- assign formId = 'ContactForm' -%}
  {% form 'contact',
    id: formId,
    novalidate: 'novalidate'
  %}
  <div class="container">
    <div class="row contact-page__inner-container">
      <div class="col-md-12 pt-0 pb-0 contact-page__title-wrapper">
        <h1 class="labo-standard-page-title labo-det-lheight-62 mt-0 mb-0">
          {{ page.title }}
        </h1>
      </div>
      <div class="col-lg-6 col-xl-7 col-content">
        <div class="labo-standard-page-content">
          {{ page.content }}
        </div>
      </div>
      <div class="col-lg-6 col-xl-5 contact-page__form-container">
        <div class="form-wrapper" {% if form.posted_successfully? %}style="display: flex;"{% else %}style="background-color: #fafafa;"{% endif %}>
          
            {% include 'form-status',
            	form: form,
          		form_id: formId
          	%}
          
          	{% if form.posted_successfully? == false %}

              <p class="help-text">
                *Mandatory fields
              </p>

              <div class="form-group reason">
                <label for="reason">
                  Contact reason
                </label>
                <select id="{{ formId }}-reason" class="form-control">
                  <option selected>General</option>
                  <option>Order assistance</option>
                  <option>Return or Exchange</option>
                  <option>Advertising &amp; partnerships</option>
                  <option>Media request</option>
                  <option>Wholesale</option>
                  <option>Customer feedback</option>
                </select>
                {% render 'icon-chevron' %}
              </div>

              <div class="form-group">
                <label for="{{ formId }}-first-name">
                  First name*
                </label>
                <input type="text"
                       class="form-control"
                       id="{{ formId }}-first-name"
                       name="contact[first-name]"
                       placeholder="First name*"
                       value="{% if form['first-name'] %}{{ form['first-name'] }}{% endif %}"
                       required>
                <div class="invalid-feedback">
                  Complete the field
                </div>
              </div>

              <div class="form-group">
                <label for="{{ formId }}-last-name">
                  Last name*
                </label>
                <input type="text" 
                       class="form-control" 
                       id="{{ formId }}-last-name" 
                       name="contact[last-name]"
                       placeholder="Last name*" 
                       value="{% if form['last-name'] %}{{ form['last-name'] }}{% endif %}"
                       required>
                <div class="invalid-feedback">
                  Complete the field
                </div>
              </div>

              <div class="form-group">
                <label for="{{ formId }}-email">
                  Email address*
                </label>
                <input type="email" 
                       class="form-control" 
                       id="{{ formId }}-email" 
                       name="contact[email]"
                       placeholder="Email address*" 
                       value="{% if form['email'] %}{{ form['email'] }}{% endif %}"
                       required>
                <div class="invalid-feedback">
                  Invalid email address
                </div>
              </div>

              <div class="form-group">
                <label for="{{ formId }}-phone-num">
                  Phone number
                </label>
                <input type="tel" 
                       pattern="[0-9\-]*" 
                       class="form-control" 
                       id="{{ formId }}-phone-num" 
                       name="contact[phone-num]"
                       placeholder="Phone number"
                       value="{% if form['phone-num'] %}{{ form['phone-num'] }}{% endif %}">
              </div>

              <div class="form-group">
                <label for="{{ formId }}-order-num">
                  Order number
                </label>
                <input type="text" 
                       class="form-control" 
                       id="{{ formId }}-order-num" 
                       name="contact[order-num]"
                       placeholder="Order number"
                       value="{% if form['order-num'] %}{{ form['order-num'] }}{% endif %}">
              </div>

              <div class="form-group">
                <label for="{{ formId }}-body">
                  Your message*
                </label>
                <textarea class="form-control" 
                          id="{{ formId }}-body" 
                          name="contact[body]"
                          rows="4" 
                          required>{% if form['body'] %}{{ form['body'] }}{% endif %}</textarea>
                <div class="invalid-feedback">
                  Complete the field
                </div>
              </div>

              <div class="form-group form-check">
                <label>
                  <input type="checkbox" 
                         class="form-check-input"
                         name="contact[accept-terms]"
                         required>
                  <div class="check-box"></div>
                  Please accept our terms to continue. <br>The personal information will be used to manage your request.
                </label>
              </div>

              <button type="submit" class="btn btn-primary js-btn__form disabled">
                Submit
              </button>
          
          	{% endif %}

            
          </div>
        </div>
      </div>
    </div>
    {% endform %}
  </section>
<script>

  $('.contact-form').submit(function(e) {
  	
    var submit = true;
    
    $('[required]', this).each(function() {

      var isValid = this.checkValidity();
      
      if (!isValid) {
        if ($(this).hasClass('form-check-input')) {
          $(this).parent('label').addClass('is-invalid');
        } else {
          $(this).addClass('is-invalid');
        }
        
        $(this).siblings('.invalid-feedback').show();
        
        submit = false;
      } else {
        
        if ($(this).hasClass('form-check-input')) {
          $(this).parent('label').removeClass('is-invalid');
        } else {
          $(this).removeClass('is-invalid');
        }
        
        $(this).siblings('.invalid-feedback').hide();
      }
   	});
    
    return submit;
  });
</script>