{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:14+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            6a8d5d95c01cfea548171dd27c596e2e
//      Signature:      eyJpdiI6ImlcL0tZR2pORzdwXC82Vkw5Z1wvK1BzdXc9PSIsInZhbHVlIjoiK1Y0Z3R3cllxb2tjTTNJWndoNFRZaEpDYWtGYUpjdE55WndlamVKTXd3Nys0T2t1UllDekczYWMxSU93ejdmTVVxVHE0NEZQQWRvVmRhVUM2VTQ1c2huazdQVHY4VVhCOFd4VlhuYTJCU1lLMXNWdFBWRngxVUFcL1wvWmx2d0krUmlHVUZpRk5ha3Y3NlBtTDZOUGduS3hyTlYrTytYdzZjUTEwN3Q3UUZDRm1oZWd5bjFKTFJYbHk0bnFKSlI5UThlRGVnQ01nNlVLbjQ1RkRka2psaDliQml0ZHBIRFpSeCs0RTg3dWN5VXo5dStaS2Z2K1wvY2xmXC9KQitaUHkyNTdIY1p6MmMwdlU0aEVFU0pNS2ZUM0lcL3VcL3RHOFVodTlEQmJpREF2VzN6VFJpUDlrSW9pRXFrNUR5RmJSVHpTWjBFd1BVQzlnT3U5TFZwYnI0OUNJbWxuakczRElxaVwvOEludmpBejFHVExkUDVRXC81SmZRUm8xRW01YjdJZE1qY2tUWjRsUzFxVzd1Q0hBVGc2bEFJOHhQTHlyMXVqMkd3SnlNTHd3S1RhaVBNPSIsIm1hYyI6IjRiYTM5NWI5ZjgzZWQ4ZGU2ZjUyMjY3MTRhNGViNTVkMTM4YTIyZDg2NWVkNWQ3OTk5OGEyMmE3NDU1NTAzNWQifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2020-11-27T13:11:31+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  111020
//      Project:        339
//      Environment:    741 - master
//      MD5:            2cf355cb718923ea844712eafebb00ec
//      Signature:      eyJpdiI6ImhyNENQbjdqMUFiXC9PY3dxMlBSSlRnPT0iLCJ2YWx1ZSI6Ikd4dWdVb1Brdkg1NzU0cER6YzRuZlFYZHZESXBsTnhQWkZ0UW0zZzJMNk05KzlMRDBpbDlTbXpqaWU3R3p3VUp4R2RBdWNxYmpVTG14S0VCQ1pSVW13YUI2M21zNk1xWG9JWVRxUEpaOGVnbEFsaDZWTHY5dDdDNSswVzZUNnR3WGJsdHczVmFPK1wvWnBiajlOWWhPa0ZmVU9iSkpONUxxK2JQZm1EbDhNa3VOb1VSWnVPaHEyN0IydjVueUg5M1dCRjJpRFE5dHZLK2JYeDJJcm9QMkhjQmV3czRSR1wvajYxRm9TeUV5TjhtQkhXZUxzbDdFb3d0SnNVMzBRT09nRU42bXE2OEQxRnE1U1ZWTzBrQXdOZTJBZHZhSjJRWnE4eDlSaU5SaktHRlwvR29IUnVQMGtBYXU2OEVYN1RrNnBuXC9rVjFnb2U3MjhXdmNmXC8wSnJBNzRWMG1tQ0tcL1B2a2ZwWHBCTWRXSWIxUjdKNzNsT0hQbFAzaVE3emZteHNwUTZFTnViRmtBVVJoZ1dTcGpqb0ZDbG5nTFFqVWgzbzhaZDdUcU9lY0g5TXM9IiwibWFjIjoiOWFiNzg4OTc4MGY5OTk2Zjk2MzYxNGEwNWZkNGU1YjQyMzRjMWM0ZmY3ZWEyNGM4ZTM4NDQwZDIzNDUwYTY3ZSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template-no-variant' %}
{% section 'product-recommendations' %}
{% section 'product-advanced-sections' %}
<section class="labo-product-page-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="labo-product-breadcrumb">
          <a href="/">Home</a> / <span class="labo-current-breadcrumb-item">{{ product.title }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
<script>
    // New Currency Formating

function NewMoneyFormat(currency,price) {
	if (currency == 'EUR') {
		return String(price.toLocaleString().replace(',',' ') + ' €');
	}
  else if (currency == 'USD') {
		return String('$'+price);
	}
	else if (currency == 'GBP') {
		return String('£ '+price.toLocaleString());
	}
	else if (currency == 'CAD') {
		return String('CAD$  '+price.toLocaleString());
	}
	else if (currency == 'AED') {
		return String('AED '+price.toLocaleString());
	}
    else if (currency == 'JPY') {
		return String('¥ '+price.toLocaleString());
	}
    else if (currency == 'KRW') {
		return String('₩ '+price.toLocaleString());
	}
    else if (currency == 'QAR') {
		return String(price+' QAR');
	}
    else if (currency == 'SAR') {
		return String('SAR '+price.toLocaleString());
	}
    else if (currency == 'HKD') {
		return String('HK$ '+price.toLocaleString());
	}
    else if (currency == 'MXN') {
		return String(price.toLocaleString().replace(',',' ') + ' MEX$');
	}
    else if (currency == 'THB') {
		return String('฿ '+price.toLocaleString());
	}
    else if (currency == 'TWD') {
		return String('NT$ '+price.toLocaleString());
	}
    else if (currency == 'AUD') {
		return String('AUD$ '+price.toLocaleString());
	}
    else if (currency == 'CHF') {
		return String(price.toLocaleString().replace(',',' ') + ' CHF');
	}
    else if (currency == 'SGD') {
		return String('S$ '+price.toLocaleString());
	}
    else if (currency == 'VND') {
		return String('VND '+price.toLocaleString());
	}
    else if (currency == 'KHR') {
		return String(price.toLocaleString().replace(',',' ') + ' KHR');
	}
    else if (currency == 'ILS') {
		return String('₪ '+price.toLocaleString());
	}
    else if (currency == 'CZK') {
		return String(price.toLocaleString().replace(',',' ') + ' Kč');
	}
    else if (currency == 'RON') {
		return String(price.toLocaleString().replace(',',' ') + ' Lei');
	}
    else if (currency == 'BRL') {
		return String('R$ '+price.toLocaleString());
	}
    else if (currency == 'TRY') {
        return String(price.toLocaleString().replace(',','.') + ' TL');
	}
    else if (currency == 'MYR') {
        return String('RM '+price.toLocaleString());
	}
    else if (currency == 'INR') {
        return String('₹  '+price);
	}
    else if (currency == 'RUB') {
        return String(price.toLocaleString().replace(',',' ') + ' pyб.');
	}
    else if (currency == 'UAH') {
        return String(price.toLocaleString().replace(',',' ') + ' грн');
	}
    else if (currency == 'IDR') {
        return String('Rp '+price.toLocaleString());
	}
    else if (currency == 'PLN') {
        return String(price.toLocaleString().replace(',',' ') + ' zł');
	}
    else if (currency == 'DKK') {
        return String(price.toLocaleString().replace(',','.') + ' kr');
	}
    else if (currency == 'PHP') {
        return String('₱ ' + price.toLocaleString());
	}
    else if (currency == 'BGN') {
        return String(price.toLocaleString().replace(',','.') + ' BGN');
	}
    else if (currency == 'BGN') {
        return String(price.toLocaleString()+ ' EGP');
	}
    else if (currency == 'SEK') {
        return String(price.toLocaleString().replace(',','.')+ ' kr');
	}
    else if (currency == 'AZN') {
        return String(price + ' AZN');
	}
   else {
     return(String(price));
   }
}
  // <![CDATA[
  var selectCallback = function(variant, selector) {
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.length) {
          radioButton.get(0).checked = true;
        }
      }
    }
    if (variant) {
      if (variant.available) {
        // Selected a valid variant that is available.
        $('#labo_is_stock_or_not').removeClass('labo_stock_off_text').addClass('labo_stock_on_text').text($(this).attr("data-stock"));
        $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Bag').fadeTo(200,1);
      } else {
        // Variant is sold out.
        $('#labo_is_stock_or_not').removeClass('labo_stock_on_text').addClass('labo_stock_off_text').text($(this).attr("data-out"));
        $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
      }
      // Whether the variant is in stock or not, we can update the price and compare at price.
      var price_n = String(variant.price);
      var variant_price =  parseInt(price_n.slice(0,-2));
      var compare1 = String(variant.compare_at_price);
      var compare_price = parseInt(compare1.slice(0,-2));
      var price2 = String(variant.price);
      var var_price = parseInt(price2.slice(0,-2));
      var currency = $("#currentCurrency").attr('data-currency').trim();
      console.log(NewMoneyFormat(currency,var_price));
      if ( variant.compare_at_price > variant.price ) {
        //$('#labo-price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "").replace(".00", "").replace("$", "{{ cart.currency.symbol }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "").replace(".00", "").replace("$", "{{ cart.currency.symbol }}") + '</s>');
        $('#labo-price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "").replace(".00", "").replace("$", "{{ cart.currency.symbol }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "").replace(".00", "").replace("$", "{{ cart.currency.symbol }}") + '</s>');
        $('#labo-price-field').html('<span class="product-price on-sale">'+NewMoneyFormat(currency,var_price) +'</span>'+'&nbsp;<s class="product-compare-price">'+NewMoneyFormat(currency,compare_price) + '</s>');
      } else {
        {% assign isCAD = '' %}
        {% if cart.currency.iso_code == 'CAD' or cart.currency.iso_code == 'QAR' %}
        {% assign isCAD = cart.currency.iso_code %}
        {% endif %}
        //$('#labo-price-field').html('<span class="product-price">'+ '{{ isCAD }} ' + Shopify.formatMoney(variant.price, "{{shop.money_without_currency}}").replace(".00", "").replace("$", "{{ cart.currency.symbol }}") +  '</span>' );
        $('#labo-price-field').html('<span class="product-price on-sale">'+NewMoneyFormat(currency,var_price) +'</span>');
      }
    } else {
      // variant doesn't exist.
      $('#labo_is_stock_or_not').removeClass('labo_stock_on_text').addClass('labo_stock_off_text').text($(this).attr("data-out"));
      $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }
  }
  // initialize multi selector for product
  jQuery(function($) {
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  });
  // ]]>
</script>
<script>
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  });
});
</script>