{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:14:39+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            02241b36c5d9d28977d4c5173c237552
//      Signature:      eyJpdiI6IktiMFZNN1JLbWpNTGlka3pqVnhiTGc9PSIsInZhbHVlIjoiSFd5dmNlNXQ2cVVEUDlNZFB6bnl5c2lTV0lER2pCcWdtT0FvS2FEYjBsYm5xOCtaODlzdmtZZWNoU3lLWUYyekV1d0ZBcVBaaXkwSVZ3Nkk4RElwcENKd09yMXp2QXY3WmpHV3dmK0JYZjIxczlOVnRTOVJlOGdjSmFabHowVGJxOUd0NFhcL3g2SXhLQVE4Z0pZXC94WU11VFlcL1BxaEt3MmI1dVJBdUxDT0o4YWw0dGVlSHpvQlhYUnFWR0RMUFJoOTZwVXdqZWMyU1YyVCsxcXl4Y01OdHJYemI4dzNoTzlIbUNrN0JidGNtbUhyaDVoeUIyMVBPelV5UDRVWHl0OXAraEVzdUNScm1Id3V0RnJzVGV3Z3V3bGk3YnFnU3laZVVUUFFFZXVXSTgxYnZ1clZsOGwxSVh5SFwvOEkrRm84cCtpazAzXC9MTXFGdkZaOWw5a1lyNG40Y0VtcmdQTlEyUmYrSmZTYnRldFwvV2lnR3dFM2FLd1dJVExOVUdnZ2lcL2hoQ1BrWUZlaURLMFpFUEVOSDR2ZkE9PSIsIm1hYyI6Ijc3ZWZkYzNiYWE1YTNmZTgzODkzN2ViYjYxNDA3NzkzNGFlNzE5OTI2YmRiMDk5NjZkNGFlZjBlMGM1MjI0YzIifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'original-theme.js' | asset_url }}" defer="defer"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script defer src="https://kit.fontawesome.com/8cd473c782.js" crossorigin="anonymous"></script>
  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body class="template-password">
  <div class="password-page">
    <section class="labo-product-not-available-popup">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="labo-prd-popup">
              <a class="labo-prd-popup-times">
                <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              	  <rect x="9.30762" y="10.0146" width="1" height="25" transform="rotate(-45 9.30762 10.0146)" fill="black"/>
              	  <rect x="10.0146" y="27.6924" width="1" height="25" transform="rotate(-135 10.0146 27.6924)" fill="black"/>
            	</svg>
              </a>
              <div class="labo-prd-popup-text">
                <h3 class="labo-404-subtitle">
                  Enter store using password
                </h3>
                {% form 'storefront_password', class: 'form-single-field' %}
                {%- assign formId = 'PasswordLoginForm' -%}
                <div class="input-group {% if form.errors %}input-group--error{% endif %}">
                  <input type="password" name="password"
                         id="Password"
                         class="input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
                         placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                         data-login-field
                         autocomplete="off"
                         aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
                         {% if form.errors %}
                         data-error="password"
                         aria-invalid="true"
                         {%- endif -%}
                         >
                  <span class="input-group__btn">
                    <button type="submit" name="commit" class="btn btn--narrow">
                      {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                  </span>
                </div>
                {%- if form.errors -%}
                <span id="{{ formId }}-password-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.messages['form'] }}</span>
                </span>
                {%- endif -%}
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="labo-nav position-sticky">
      <div class="container">
        <div class="row labo-padtbonly-29">
          <div class="col-md text-left">
          </div>
          <div class="col-md text-center">
            <a href="{{ shop.url }}" class="labo-logo">
              {% include 'logo' %}
            </a>
          </div>
          <div class="col-md mt-3 mt-md-0 text-center text-md-right">
            <a href="#"  class="labo-login">
              {{ 'general.password_page.password_link' | t }} <span aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="labo-border-bottom"></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="password-main" role="main">
      {{ content_for_layout }}
    </div>
  </div>

  <script defer>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      }
    }
  </script>
  <script defer>
  $(document).ready(function() {
    $('.labo-login').click(function() {
      $('.labo-product-not-available-popup').addClass('labo-product-not-available-popup-active');
    });
    $('.labo-prd-popup-times').click(function() {
      $('.labo-product-not-available-popup').removeClass('labo-product-not-available-popup-active');
    });
  });
  </script>
  <style>
    .labo-prd-popup form {
    	display: flex;
    	flex-wrap: wrap;
    }
    form svg {
    	fill: red;
    	height: 14px;
      	margin-right: 10px;
    }
    form svg g {
    	fill: red;
    }
    .input-group {
    	margin: 5px 0 15px;
      	position: relative;
    }
    .input-group input {
      width: 100%;
      background: #e5e5e5;
      color: #000;
      padding: 12px;
      height: 40px;
      display: flex;
      align-items: center;
      border: 0;
      outline: none;
      font-size: 14px;
    }
    .input-group__btn {
      position: absolute;
      right: 0;
      background: #000;
      color: #fff;
    }
    .input-group__btn button {
      color: #fff!important;
      height: 40px;
      display: flex;
      align-items: center;
      border: 0;
      outline: none;
      font-size: 14px;
      justify-content: center;
    }
    #PasswordLoginForm-password-error {
    	display: flex;
    	align-items: center;
    	width: 100%;
    }
    #ContactPassword {
      max-width: 300px;
      margin: 0 auto;
    }
  </style>
</body>
</html>
