{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:11+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            58a7d4a902f3b7c1695e572ce0d236b5
//      Signature:      eyJpdiI6IkdYNlRENmxIbTFNMzU0a0VXQVBsM1E9PSIsInZhbHVlIjoiYTdqRlZxdnRDaTRxd1pkQmVncEtRZ1wvUHBZNWVpbDVsMzU3MUFLM05JTWZZOHB5ZnNSTmZhSlwvc3phS1B0d1pJZXRlQUhPMUxjK0oxN3o0aGlMbHlOY2hyQ096WFNwV3VidHlwS3R2ckF1TFk2c1E5ZGpNemM3OU45NStHdElcL0NtMHh1eEdXQ0Q3YmttXC9VckwyRU80VXU3WUVFUGJxa1dHVHMzSmo0U1ZWTU1oeW5rK2xkQ1B4N3l5TjFzUDVRWXFYYnhcL1J2Yk40MkY4WEhLdkErM0d4dFB5MnhmclcwbzhhWlZIMnpSeEJMa0xpdWU0R28rbVJOUlZveG5xdm03dENQa29oc2VZN25kTzYwZVV3N1FxMnVwTE9ZemFsWHNIbWJodE9CbUlXdXlLV0diS2FITm5FV0VGUnZlTDYzaTJpbjk1amZ0ZmUybUN6ZzhxYVloVDhBXC9JTjdGK0ZqNkVTeGRQeUd4M3dPVVZxeGRwaHZYWmlcL2ttOGNqaGlmVGZQMGRmTk5ubGFncUFFNzRGWmRtWmdibkR1a2I4V0JlVUtTanNIbGgyWTQ9IiwibWFjIjoiZGYzMmJkMzFjYmQ5NmIzNDU3NGRhZDQyNzIyNmE1NzA3MTMwYTljMWYxNzYyYmMxZmFiNjJjZTJlYWQwMDU4MCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="page-width">
  <div class="section-header text-center">
    <h1>{{ 'customer.account.title' | t }}</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>

  <div class="grid myaccount">
    <div class="grid__item myaccount__order-history">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money_without_trailing_zeros }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endpaginate %}
    </div>
    <div class="grid__item myaccount__account-details">
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
</div>
