{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            a72f8d3b00650f7123113ca3eb2bb14b
//      Signature:      eyJpdiI6IkNsQ1wvZmFSeE1HbHl3dlAxWjBPaXdBPT0iLCJ2YWx1ZSI6Im1HU2pJbkFMN2FoempCVUtXOFpzdWFxWkV4RkZZUm1MYm5aellEdk5VZmtFamFcL3RVTVp3NjFHS1wveXVjSWUxMXJOMDVYNE5MM0xBQ29TK1hxaHVlWWFTb3pHQThcLzB2cVwvMzFLZzIwcVdpaG54Q2xtTXNtRmZEbERkXC9GZldxSUQ0SCtvdk40SUVneFZxZlwvWHJCeEp2R0c2Y3BpbngraFFKNlVXR0V1M0R5VmtLRU1cL01zeXB3NWhLb0JNdzVoYlJLMlwvSDd3b2JQZWU0RENXaUpMK3RmYmxWZUd4VFJ3MXBPc0dIWDV5UWZHU21CSzFPblZuNFlmVTFxTzZWVzhwczBuZ1J3aXpYVXhFRGdER2JyVjZpd2JKR2l2c0JIM1piZGhpMzdDTDc5UDNEZ29cL3Q0WFd4YXU4UFVQcEFWbkZhbnEwTWRDS04wb1NPdzVVUkVIclFSeUIrRHJnWDdIdWU2Z2t4ck9KNE1mWWJDTk50OUZcL3JYVEpDaWlCQVdYaWtiN3ZRU21MVUtyeFZjZ0d3TGFCYThFQnN1c1BsQ3VvWTdVU2Q4SU9jdTg0PSIsIm1hYyI6ImFlYWFjMDIxZmY0ZDM3MzA4YmFlNWY4ZjAyZGIyNTcxZTQ2MmY5NWZjNWYwY2I3NjJkYzU4MDgwNTM4YmFlMTkifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="page-width text-center">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <h1>{{ 'customer.activate_account.title' | t }}</h1>
        <p>{{ 'customer.activate_account.subtext' | t }}</p>
      </div>

      <div class="form-vertical">
        {% form 'activate_customer_password' %}

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

          <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

          <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
          <div><input type="submit" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"></div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
