{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            b1a5600ded81661c31216b8d020eabab
//      Signature:      eyJpdiI6IjJzWHJ5bVJ3em9yWTNpNWdVNFFLSVE9PSIsInZhbHVlIjoiTlBQQXRIRW9NNEpVXC9UNTZVZnNlTjBHdTVoQjYrbzBjRFhuMnFxa2l0RGFCa1kwUjU5b3lYSmdRVHNGY1pvTUFOdGpuT0lnaWFwXC81QjNEVFM2MUswcGo5RFJTRGNMWmo2RXlaYnQ5cmZESGJmdGZGTVVab01Jb3lVcmZ6OSs1RzFQWTlNYlBSdnFkSkFuZ1RkZGladTM3S01abVdpUDlkN1F0Mit3YmxNRWxLZWNSSkh1M1JWSXozeEc1Z1N0YUpnMzZvYkhRQ3VMMXk0QzZpZStDR3ptM3hTT3oyYWxaaytWQWxVTkpWbHhJY3lJU1hWQU8zK0xuWlZFZnFpczdER2lCd2Z6cGRuNG50MlhXSTJOM3hhSllpRHl5T05wckNkcVVOZ0NsTFVJanhtSnRmS2lIYkVGQXJjZ3FOOHpMRVU2QXdmRUhtUGZFVExIUDZkZmx6RTJUR1FoTHlcLzNjeDgwdjBrZkYwa2RHQW0xTHhmclwvUGExTUZVV2JHcW1PTzdrS0U0SnNVQUNlWFwvbllPV05LYzRMQXNFVlBCYXZtenBEbW9ZT0hONFk0PSIsIm1hYyI6IjdjZGRlODFlNjcxZDJlMzQ0NDQxZWY5MjhhY2NiMjk5YWU2YjcxNGQyNTNmYmYwYmM5MDY4MzNkZTlmMWE0YTQifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
