{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:24+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            d591460251f62d482298805ee9f551e8
//      Signature:      eyJpdiI6IlBoS0dxTmxDc1wvVHJMK2VSV3hSOGZRPT0iLCJ2YWx1ZSI6IjZYTXhJU0JwSnVlelVVRXpEUklsVk1KRzRzSGFoNk5rMm13b1h6Z0VMRzloSkdsOFwveHVkRlZXMjhFdTlDdE9DcUdINEE3WnhqQXBidFpjckh3RXB0MEZadlNLNkNSNDlNU2o0S3hNVUZjYVptQnA5eHY0Z2hJYURxejVITjZMQmh2VldsZjhkME1LZlM5NUxsMHRDT3U1RHFmYzhhem5MQ3ExXC9tckhPZ1RmV2RyOGo5dW0xNFZrY2FpcDh5V1BFelNCYktnS1c2azdXZlJLWitVczc3ZnV6Z1g2d0tuMENxRlwvVzVnTW13SU1LMTVYSTRGMWQ0dDhOQVl2WTZIRmFFYlJFXC96NE9WRVNHK1FJVmEyVU9KcUI1cGdjZ01NWm5lK0N2aGxNM0NyZG9FNXBcL1wvTzhSQ2Y1Mk5JajdtbjRFa1hLV081ZXMrSXdmRmNiUHl6anB3RnNwcmV3d041MFlNZVNKSnhtYjV1bEhwSGxRQ3Rzd2xCXC9rZkFrM3dPdnlxQlpFb3JGbW1SRnluc1pGSmFFQnFnPT0iLCJtYWMiOiJmNWMzNmZjYzM4N2NiNTA3NGI5NmY1Yzk1ZjI0NjAxMTU4YjFlMTUxMDNkZjg5MjdiMDdmNTViZGNkNzk0YTNhIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<footer class="labo-footer">
  <div class="container pt-4 pb-3">
    <div class="row pb-3">
      <div class="col-12 col-md-7">
        <div class="row row-1">
          <div class="col-6 col-md-12">
            <p>{{ section.settings.col1text }}</p>
          </div>
          <div class="col-6 d-md-none">
            <p class="labo-footer-social">
              {% unless section.settings.insta == blank %}
              <a href="{{ section.settings.insta }}" target="_blank">
                <svg width="16.83" height="16.83" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.585 5.62494C17.5456 4.73121 17.401 4.11677 17.194 3.58436C16.9804 3.01921 16.6518 2.51324 16.2213 2.09262C15.8007 1.66545 15.2914 1.33353 14.7328 1.12328C14.1973 0.916245 13.5861 0.771718 12.6923 0.732313C11.7919 0.689571 11.5061 0.679688 9.2224 0.679688C6.93872 0.679688 6.65287 0.689571 5.7558 0.728976C4.86206 0.768381 4.24763 0.913037 3.71534 1.11994C3.15007 1.33353 2.64409 1.66212 2.22348 2.09262C1.79631 2.51324 1.46451 3.02255 1.25414 3.58115C1.0471 4.11677 0.902577 4.72787 0.863172 5.6216C0.82043 6.52201 0.810547 6.80786 0.810547 9.09155C0.810547 11.3752 0.82043 11.6611 0.859835 12.5582C0.89924 13.4519 1.0439 14.0663 1.25093 14.5987C1.46451 15.1639 1.79631 15.6699 2.22348 16.0905C2.64409 16.5176 3.15341 16.8496 3.71201 17.0598C4.24763 17.2668 4.85873 17.4114 5.75259 17.4508C6.64953 17.4903 6.93551 17.5001 9.2192 17.5001C11.5029 17.5001 11.7887 17.4903 12.6858 17.4508C13.5795 17.4114 14.194 17.2668 14.7263 17.0598C15.8567 16.6228 16.7504 15.729 17.1875 14.5987C17.3944 14.0631 17.539 13.4519 17.5784 12.5582C17.6178 11.6611 17.6277 11.3752 17.6277 9.09155C17.6277 6.80786 17.6244 6.52201 17.585 5.62494ZM16.0703 12.4924C16.0341 13.3139 15.8961 13.7575 15.7811 14.0532C15.4984 14.786 14.9169 15.3676 14.1841 15.6502C13.8884 15.7652 13.4416 15.9032 12.6233 15.9393C11.7361 15.9788 11.47 15.9886 9.22574 15.9886C6.98146 15.9886 6.71204 15.9788 5.82806 15.9393C5.00659 15.9032 4.563 15.7652 4.26727 15.6502C3.90261 15.5154 3.57069 15.3019 3.30127 15.0226C3.02197 14.7498 2.80839 14.4212 2.67362 14.0566C2.55861 13.7608 2.42063 13.3139 2.38456 12.4958C2.34503 11.6086 2.33527 11.3424 2.33527 9.09809C2.33527 6.85381 2.34503 6.58439 2.38456 5.70054C2.42063 4.87907 2.55861 4.43548 2.67362 4.13975C2.80839 3.77496 3.02197 3.44317 3.30461 3.17362C3.57723 2.89432 3.90582 2.68074 4.27061 2.54609C4.56634 2.43109 5.01327 2.29311 5.8314 2.25691C6.71859 2.21751 6.9848 2.20762 9.22895 2.20762C11.4766 2.20762 11.7427 2.21751 12.6266 2.25691C13.4481 2.29311 13.8917 2.43109 14.1874 2.54609C14.5521 2.68074 14.884 2.89432 15.1534 3.17362C15.4327 3.44637 15.6463 3.77496 15.7811 4.13975C15.8961 4.43548 16.0341 4.88228 16.0703 5.70054C16.1097 6.58773 16.1195 6.85381 16.1195 9.09809C16.1195 11.3424 16.1097 11.6052 16.0703 12.4924Z" fill="white"/>
                  <path d="M9.2223 4.77148C6.83683 4.77148 4.90137 6.70682 4.90137 9.09242C4.90137 11.478 6.83683 13.4134 9.2223 13.4134C11.6079 13.4134 13.5432 11.478 13.5432 9.09242C13.5432 6.70682 11.6079 4.77148 9.2223 4.77148ZM9.2223 11.8953C7.67473 11.8953 6.41942 10.6401 6.41942 9.09242C6.41942 7.54472 7.67473 6.28954 9.2223 6.28954C10.77 6.28954 12.0252 7.54472 12.0252 9.09242C12.0252 10.6401 10.77 11.8953 9.2223 11.8953Z" fill="white"/>
                  <path d="M14.7232 4.60054C14.7232 5.1576 14.2715 5.60928 13.7143 5.60928C13.1572 5.60928 12.7056 5.1576 12.7056 4.60054C12.7056 4.04335 13.1572 3.5918 13.7143 3.5918C14.2715 3.5918 14.7232 4.04335 14.7232 4.60054Z" fill="white"/>
                </svg>
              </a>
              {% endunless %}
              {% unless section.settings.fb == blank %}
              <a href="{{ section.settings.fb }}" target="_blank">
                <svg width="9.39" height="17.07" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.29624 2.83377H10.0099V0.120178C9.71429 0.0831999 8.69749 0 7.5133 0C5.04247 0 3.34989 1.41298 3.34989 4.00995V6.39999H0.623291V9.43359H3.34989V17.0666H6.69282V9.4343H9.30913L9.72446 6.4007H6.69204V4.31075C6.69282 3.43395 6.9525 2.83377 8.29624 2.83377Z" fill="white"/>
                </svg>
              </a>
              {% endunless %}
              {% unless section.settings.tw == blank %}
              <a href="{{ section.settings.tw }}" target="_blank">
                <svg width="17.77" height="14.48" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.5263 2.41025C17.8608 2.70607 17.155 2.90026 16.4322 2.98638C17.1921 2.52845 17.7605 1.809 18.0315 0.96188C17.3163 1.38946 16.5335 1.69109 15.717 1.85373C15.167 1.26972 14.441 0.883467 13.6508 0.754506C12.8606 0.625544 12.05 0.761031 11.3441 1.14008C10.6381 1.51914 10.076 2.12072 9.74425 2.85211C9.41251 3.58351 9.32961 4.40412 9.50831 5.18748C8.05868 5.11474 6.6405 4.73675 5.34586 4.07806C4.05122 3.41937 2.90907 2.4947 1.99359 1.36411C1.5278 2.16987 1.38521 3.12346 1.59482 4.03099C1.80442 4.93851 2.35047 5.73184 3.12196 6.24967C2.54201 6.23206 1.97472 6.07517 1.46762 5.79215C1.46762 5.80731 1.46762 5.82248 1.46762 5.83853C1.46826 6.68449 1.76066 7.50413 2.29514 8.1582C2.82963 8.81226 3.57322 9.26039 4.39958 9.42645C3.86275 9.57319 3.29957 9.59455 2.75324 9.48888C2.986 10.2161 3.43941 10.8521 4.05004 11.3078C4.66067 11.7636 5.39797 12.0163 6.15876 12.0307C4.86629 13.0484 3.27025 13.6001 1.62754 13.5968C1.33656 13.597 1.04582 13.58 0.756836 13.5459C2.42379 14.6212 4.36386 15.1921 6.34534 15.1905C13.0507 15.1905 16.7174 9.61374 16.7174 4.77812C16.7174 4.61937 16.7174 4.46151 16.7076 4.30454C17.4212 3.78667 18.0371 3.1452 18.5263 2.41025Z" fill="white"/>
                </svg>
              </a>
              {% endunless %}
              {% unless section.settings.tik == blank %}
              <a href="{{ section.settings.tik }}" target="_blank">
                <svg width="14.29" height="16.75" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7704 0V0.0141138C10.7704 0.269339 10.8463 3.95422 14.7152 4.18593C14.7152 7.61617 14.7152 4.18593 14.7152 7.03457C14.4247 7.05162 12.1683 6.88872 10.7645 5.63671L10.7604 11.1823C10.7951 13.6933 9.39665 16.1562 6.77972 16.6514C6.04638 16.7902 5.38656 16.806 4.27804 16.5637C-2.10435 14.6549 0.0168406 5.18565 6.42746 6.19891C6.42746 9.25691 6.42746 6.19891 6.42746 9.25691C3.78112 8.86701 2.89312 11.0699 3.59705 12.6478C4.23746 14.0838 6.8744 14.3955 7.79415 12.369C7.90438 11.9254 7.95735 11.4694 7.95175 11.0123V0H10.7704Z" fill="white"/>
                </svg>
              </a>
              {% endunless %}
            </p>
          </div>
        </div>
        <p>Sign up for news and exclusive offers</p>
       	<div class="klaviyo-form-TNzKZc newsletter-signup"></div>
        <p class="klaviyo-subscribe-text">By subscribing to our newsletter you agree to our <a href="https://www.labodet.com/policies/privacy-policy">Privacy Policy</a></p>
      </div>
      <div class="col-12 col-md d-none d-md-block">
        <ul class="list-unstyled">
          {% unless section.settings.insta == blank %}
          <li><a href="{{ section.settings.insta }}" target="_blank">Instagram</a></li>
          {% endunless %}
          {% unless section.settings.fb == blank %}
          <li><a href="{{ section.settings.fb }}" target="_blank">Facebook</a></li>
          {% endunless %}
          {% unless section.settings.tw == blank %}
          <li><a href="{{ section.settings.tw }}" target="_blank">Twitter</a></li>
          {% endunless %}
          {% unless section.settings.tik == blank %}
          <li><a href="{{ section.settings.tik }}" target="_blank">TikTok</a></li>
          {% endunless %}
        </ul>
      </div>
      {% for block in section.blocks %}
      {% assign diff = 10 | minus: 1 %}
      {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: 1 %}
      <div class="col-12 col-md column-links">
        <ul class="list-unstyled d-none d-md-block">
          {% for link in linklists[block.settings.menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="list-unstyled d-block d-md-none">
          {% unless block.settings.title == blank %}
          <li>
            <a href="#" class="labo-footer-has-nav-child d-block w-100 text-decoration-none" data-target="{{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}">
              <span class="mr-2">{{ block.settings.title }}</span>
              <div class="arrow-icon {{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}fas">
                <span class="left-bar"></span>
                <span class="right-bar"></span>
              </div>
            </a>
            <ul class="list-unstyled pl-4 hide {{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}">
              {% for link in linklists[block.settings.menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          {% for link in linklists[block.settings.menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% endunless %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <div class="row d-none d-md-block">
      <div class="col-md-12 labo-footer-line">
      </div>
    </div>
    <div class="row pt-0 pt-md-3 labo-secondary-footer">
      <div class="col-12 col-md-7">
        <p class="m-0 text-left text-lg-left">{{ section.settings.copyright }}</p>
      </div>
      <div class="col-12 col-md d-none d-md-block">
        <p>&nbsp;</p>
      </div>
      <div class="col-12 col-md d-none d-md-block">
        <p>&nbsp;</p>
      </div>
      <div class="col-12 col-md mt-2 mt-md-0">
        <p class="m-0 text-left text-lg-left">
          {% for link in linklists[section.settings.footer_legal].links %}
          {% if forloop.first %}
          {% else %}
          <span class="labo-ft-separator">|</span>
          {% endif %}
          <a href="{{ link.url }}" class="text-decoration-underline">{{ link.title }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</footer>
<script defer>
  $(document).ready(function() {
    $('.labo-footer-has-nav-child').click(function() {
      if ($("." + $(this).attr("data-target")).first().is(":hidden") ) {
        $("." + $(this).attr("data-target")).show(422);
        $("." + $(this).attr("data-target") + "fas").addClass("open"); 
      }
      else {
        $("." + $(this).attr("data-target")).hide(422); 
        $("." + $(this).attr("data-target") + "fas").removeClass("open");
      }
    });
  });
</script>
<style>
  .labo-footer {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.color }};
  }
  .labo-footer input,
  .labo-footer button {
    border-color: {{ section.settings.color }}!important;
  }
  .labo-footer-line {
    background-color: {{ section.settings.color }};
  }
</style>
{% schema %}
  {
    "name": "Footer",
    "settings": [
	  {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "#ffffff"
      },
	  {
        "type": "textarea",
        "id": "col1text",
        "label": "Column 1 Content",
        "default": "100% Made in France"
      },
	  {
        "type": "text",
        "id": "insta",
        "label": "Instagram",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "fb",
        "label": "Facebook",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "tw",
        "label": "Twitter",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "tik",
        "label": "TikTok",
        "default": "#"
      },
	  {
        "type": "textarea",
        "id": "copyright",
        "label": "Copyright Text",
        "default": "© 2020 LABODET, LLC. All rights reserved."
      },
	  {
        "type": "link_list",
        "id": "footer_legal",
        "label": "Footer Legal Menu"
      }
    ],
	"blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Mobile Title"
          },
          {
            "id": "menu",
            "type": "link_list",
            "label": "Select Menu"
          }
        ]
      }
    ]
  }
{% endschema %}