{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-03-31T19:05:44+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121277
//      Project:        339
//      Environment:    741 - master
//      MD5:            ca3a7752e0ff8592a40069ecd5f8019d
//      Signature:      eyJpdiI6IkI0UkErVW5RZE1PbmY4Y2FRdUN4eGc9PSIsInZhbHVlIjoiWk1ubm9jVUU3ZkhGR2pCRWdPbHhJU0kxNHI2RTI2R3J5SG9oUkdvVDI5ZlUzTHc4Tm9VcDdBTVhBM3g4VzcwUEo3WjRuTmdoODRJWVkraGdqblwvUmdxOHR4VlNtSVZQWGZrOStDcEFnS01Ka203WVU4TlRRT3RUSXllYnA3QWdFREdHTFVzTTNubWUya24xUFAyc042ZnlkdkZtb1NMOE5xa1BGMHdBMHpOS3J3WmhCMEJcLzB6Tndlc0hBaXlqRFdVY3I4NXVlSXlvd2NoV0FBQU10Nm5xclZXcXF4MWNhMUZWdHQ4VXRpWDhualFRV2FCd1hXUWVPQit3YVpLcHBpV0xIbXFvVlFMaDVPMG5VRUVQdCtyazM5bVFQbjdsRTQzS1FEZmFCQ2dWYkhDbGZ3VThzSEFEUEtUUW1ma1dqOUFTenFYZ0pja3lGMThMWndtV3ltZWVZXC83R2FoNlVlRmp5ZjNoM0dWeW9IYkJJNDgzdWRacmgrWWM1alc1d0ZiK1NJak5vZ1JxV2cyMzFzZklpOCs2Zz09IiwibWFjIjoiZDZhMzhhMTcwODA0OWY0MzA3ODg4Zjk5NzEwMjVjYTliNjA0ODZjODAyNTFhMmY2OTM2ZGM0Yjc3ZWU2NTkzMSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="labo-product-not-available-popup">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="labo-prd-popup">
          <a class="labo-prd-popup-times">
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.304688" y="1.01465" width="1" height="25" transform="rotate(-45 0.304688 1.01465)" fill="black"/>
              <rect x="1.01172" y="18.6924" width="1" height="25" transform="rotate(-135 1.01172 18.6924)" fill="black"/>
            </svg>
          </a>
          <div class="labo-prd-popup-text">
            <p>The product you have selected is not available at present. Please select another product.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="labo-nav-expanded d-none d-md-block labo-desktop-nav-selector">
  <div class="container-fluid px-0">
    <div class="px-5 py-3 bg-white labo-nav-side-bar labo-nav-drop-shadow">
      <div class="text-left">
        <div class="labo-nav-menu-fullscreen vh-100">
          <a href="#" class="labo-times">
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right:31px">
              <rect x="0.304688" y="1.01465" width="1" height="25" transform="rotate(-45 0.304688 1.01465)" fill="black"/>
              <rect x="1.01172" y="18.6924" width="1" height="25" transform="rotate(-135 1.01172 18.6924)" fill="black"/>
            </svg>Menu
          </a>
          <div class="labo-nav-items my-4">
            {% include 'labo-nav-items' %}
          </div>
          <div class="labo-nav-footer mt-auto">
            <p>The Brand</p>
            <p class="labo-nav-footer-social">
              {% unless section.settings.insta == blank %}
              <a href="{{ section.settings.insta | remove: "'"}}" target="_blank">
                <svg width="16.82" height="16.82" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.0195 5.03628C14.9842 4.23604 14.8548 3.68589 14.6694 3.20918C14.4782 2.70316 14.184 2.25012 13.7985 1.87351C13.4219 1.49103 12.9659 1.19383 12.4657 1.00558C11.9862 0.820207 11.4389 0.690801 10.6387 0.655518C9.83251 0.617248 9.57657 0.608398 7.5318 0.608398C5.48704 0.608398 5.23109 0.617248 4.42788 0.65253C3.62764 0.687812 3.07749 0.817334 2.60089 1.0026C2.09476 1.19383 1.64172 1.48804 1.26511 1.87351C0.882633 2.25012 0.585549 2.70615 0.397185 3.20631C0.211809 3.68589 0.0824021 4.23306 0.0471197 5.03329C0.00884931 5.83949 0 6.09544 0 8.1402C0 10.185 0.00884931 10.4409 0.0441317 11.2441C0.079414 12.0444 0.208936 12.5945 0.394312 13.0712C0.585549 13.5772 0.882633 14.0303 1.26511 14.4069C1.64172 14.7894 2.09775 15.0866 2.59791 15.2748C3.07749 15.4602 3.62466 15.5896 4.425 15.6249C5.22811 15.6603 5.48416 15.669 7.52893 15.669C9.5737 15.669 9.82964 15.6603 10.6329 15.6249C11.4331 15.5896 11.9832 15.4602 12.4598 15.2748C13.472 14.8835 14.2722 14.0833 14.6635 13.0712C14.8488 12.5916 14.9783 12.0444 15.0136 11.2441C15.0489 10.4409 15.0577 10.185 15.0577 8.1402C15.0577 6.09544 15.0548 5.83949 15.0195 5.03628ZM13.6632 11.1853C13.6308 11.9208 13.5073 12.318 13.4043 12.5828C13.1512 13.2389 12.6305 13.7596 11.9744 14.0127C11.7096 14.1157 11.3095 14.2392 10.5769 14.2715C9.78252 14.3069 9.54427 14.3156 7.53479 14.3156C5.52531 14.3156 5.28408 14.3069 4.49258 14.2715C3.75705 14.2392 3.35987 14.1157 3.09508 14.0127C2.76857 13.892 2.47137 13.7008 2.23014 13.4507C1.98006 13.2065 1.78883 12.9123 1.66815 12.5858C1.56518 12.321 1.44163 11.9208 1.40934 11.1883C1.37394 10.3939 1.36521 10.1555 1.36521 8.14606C1.36521 6.13658 1.37394 5.89535 1.40934 5.10397C1.44163 4.36844 1.56518 3.97125 1.66815 3.70646C1.78883 3.37984 1.98006 3.08276 2.23313 2.84141C2.47723 2.59134 2.77144 2.4001 3.09807 2.27954C3.36285 2.17657 3.76303 2.05302 4.49557 2.02061C5.28994 1.98533 5.52829 1.97648 7.53766 1.97648C9.55014 1.97648 9.78838 1.98533 10.5799 2.02061C11.3154 2.05302 11.7126 2.17657 11.9774 2.27954C12.3039 2.4001 12.6011 2.59134 12.8423 2.84141C13.0924 3.08563 13.2836 3.37984 13.4043 3.70646C13.5073 3.97125 13.6308 4.37131 13.6632 5.10397C13.6985 5.89834 13.7074 6.13658 13.7074 8.14606C13.7074 10.1555 13.6985 10.3909 13.6632 11.1853Z" fill="black"/>
                  <path d="M7.53294 4.27148C5.39703 4.27148 3.66406 6.00434 3.66406 8.14036C3.66406 10.2764 5.39703 12.0092 7.53294 12.0092C9.66896 12.0092 11.4018 10.2764 11.4018 8.14036C11.4018 6.00434 9.66896 4.27148 7.53294 4.27148ZM7.53294 10.65C6.14727 10.65 5.02329 9.52614 5.02329 8.14036C5.02329 6.75458 6.14727 5.63072 7.53294 5.63072C8.91872 5.63072 10.0426 6.75458 10.0426 8.14036C10.0426 9.52614 8.91872 10.65 7.53294 10.65Z" fill="black"/>
                  <path d="M12.455 4.11854C12.455 4.61732 12.0505 5.02174 11.5516 5.02174C11.0529 5.02174 10.6484 4.61732 10.6484 4.11854C10.6484 3.61964 11.0529 3.21533 11.5516 3.21533C12.0505 3.21533 12.455 3.61964 12.455 4.11854Z" fill="black"/>
                </svg>
              </a>
              {% endunless %}
              {% unless section.settings.fb == blank %}
              <a href="{{ section.settings.fb | remove: "'" }}" target="_blank">
                <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.3077 2.5373H8.84211V0.107605C8.57739 0.0744954 7.66697 0 6.60667 0C4.39434 0 2.87884 1.26515 2.87884 3.59043V5.73042H0.4375V8.44664H2.87884V15.2811H5.87203V8.44727H8.21462L8.5865 5.73106H5.87133V3.85976C5.87203 3.07469 6.10454 2.5373 7.3077 2.5373Z" fill="black"/>
                </svg>
              </a>
              {% endunless %}
              {% unless section.settings.tw == blank %}
              <a href="{{ section.settings.tw | remove: "'"}}" target="_blank">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.9104 2.05335C15.3146 2.31822 14.6825 2.49209 14.0354 2.56921C14.7158 2.15918 15.2247 1.515 15.4673 0.756506C14.827 1.13935 14.1261 1.40943 13.395 1.55505C12.9026 1.03214 12.2525 0.686297 11.545 0.570828C10.8374 0.455359 10.1117 0.57667 9.4796 0.916067C8.84752 1.25546 8.34418 1.79411 8.04715 2.44898C7.75011 3.10386 7.67588 3.83862 7.83589 4.54002C6.53792 4.47489 5.26811 4.13645 4.10891 3.54667C2.94972 2.95689 1.92707 2.12896 1.10737 1.11665C0.690309 1.83812 0.562637 2.69194 0.750309 3.50452C0.937981 4.3171 1.42691 5.02743 2.11768 5.49109C1.59841 5.47532 1.09046 5.33484 0.636418 5.08143C0.636418 5.09501 0.636418 5.10858 0.636418 5.12296C0.63699 5.88041 0.898802 6.6143 1.37737 7.19994C1.85593 7.78557 2.52173 8.18682 3.26164 8.33551C2.78097 8.4669 2.27671 8.48602 1.78754 8.39141C1.99594 9.04253 2.40192 9.61197 2.94867 10.02C3.49542 10.4281 4.15557 10.6544 4.83677 10.6673C3.67952 11.5786 2.25046 12.0725 0.779611 12.0695C0.519076 12.0697 0.258753 12.0545 0 12.024C1.49256 12.9868 3.22966 13.498 5.00383 13.4965C11.0076 13.4965 14.2908 8.5032 14.2908 4.17349C14.2908 4.03134 14.2908 3.89 14.282 3.74946C14.921 3.28577 15.4724 2.7114 15.9104 2.05335Z" fill="black"/>
                </svg>
              </a>
              {% endunless %}
              {% unless section.settings.tik == blank %}
              <a href="{{ section.settings.tik | remove: "'"}}" target="_blank">
                <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.46701 0V0.0126372C9.46701 0.24116 9.53494 3.54053 12.9991 3.74799C12.9991 6.81936 12.9991 3.74799 12.9991 6.2986C12.739 6.31387 10.7186 6.16802 9.46175 5.04699L9.45806 10.0124C9.48913 12.2607 8.23699 14.4659 5.89384 14.9093C5.23723 15.0336 4.64644 15.0478 3.65389 14.8308C-2.06077 13.1217 -0.161502 4.64313 5.57843 5.55037C5.57843 8.28844 5.57843 5.55037 5.57843 8.28844C3.20895 7.93934 2.41386 9.9118 3.04414 11.3245C3.61756 12.6104 5.97861 12.8894 6.80214 11.0749C6.90084 10.6777 6.94826 10.2695 6.94325 9.86019V0H9.46701Z" fill="black"/>
                </svg>
              </a>
              {% endunless %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="labo-currency_popup-expanded d-none d-md-block labo-desktop-nav-selector">
  <div class="container-fluid px-0 position-relative">
    <div class="bg-white labo-nav-cart-bar">
      <div class="text-left">
        <div class="labo-nav-menu-fullscreen">
          <a href="#" class="labo-bag-times">
            <span id="currencyTitle" class="labo-menu-text">Currency: </span>
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.304688" y="1.01465" width="1" height="25" transform="rotate(-45 0.304688 1.01465)" fill="black"/>
              <rect x="1.01172" y="18.6924" width="1" height="25" transform="rotate(-135 1.01172 18.6924)" fill="black"/>
            </svg>
          </a>
          <div class="labo-nav-items">
            {% include 'labo-currency-menu' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="labo-nav position-sticky d-none d-md-block">
  <div class="container">
    <div class="row labo-padtbonly-29">
      <div class="col text-left">
        <a href="#" class="labo-bars">
          <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.0732422" y="0.537842" width="22.9688" height="0.998642" fill="black"/>
            <rect x="0.0732422" y="8.5271" width="22.9688" height="0.998642" fill="black"/>
            <rect x="0.0732422" y="16.5161" width="22.9688" height="0.998646" fill="black"/>
          </svg>


          <span class="labo-menu-text">Menu</span>
        </a>
      </div>
      <div class="col text-center">
        <a href="{{ shop.url }}" class="labo-logo">
          {% include 'logo-big' %}
        </a>
      </div>
      <div class="col text-right">
        <div class="block_right">
          <a href="#" class="cart-btn">
            {%- include "go-cart-button" -%}
          </a>

          <a href="{{ routes.search_url }}" class="search-show">
            {% include 'icon-search' %}
          </a>
       	<div class="currency_selector">
          <a href="javascript:void(0);" class="currency_popup"><span class="current_currency">{{ cart.currency.iso_code }}</span></a>
      	</div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="labo-border-bottom"></div>
      </div>
    </div>
  </div>
</nav>
<div class="currency_hide">
	{% form 'currency' %}
		{{ form | currency_selector }}
  {% endform %}
</div>
{% include 'mobile-header' %}
<style>

</style>
<script defer> 
  if ($(window).width() < 768) {
    $(window).scroll(function () {
      var top = 101

      var scroll = $(window).scrollTop();

      //>=, not <=
      if (scroll <= 40) {
        top = top - scroll;
        $('.go-cart__drawer.js-go-cart-drawer').css("top", top);
        // $('.labo-nav-side-bar').css("padding-top", top);
        if ($('.go-cart__drawer.js-go-cart-drawer').hasClass('fixedTop')) {
          $('.go-cart__drawer.js-go-cart-drawer').removeClass("fixedTop")
        }

      } else {
        $('.go-cart__drawer.js-go-cart-drawer').addClass("fixedTop");
        // $('.labo-nav-side-bars').addClass("fixedTop");

      }

    });
  }
  $( document ).ready(function() {
    var currentCurrency = $('.current_currency')[0].textContent;

    $('#currencyTitle').append(currentCurrency);
     //$('.parent-item .link').append(currentCurrency);
  });





  $(document).ready(function() {
    $('#site-overlay').click(function () {
      $('.search-form-wrapper svg').click();
      $('.labo-currency_popup-expanded .labo-bag-times svg').click();
    })
    $('.nav-toggle').click(function () {
      console.log(2);

      if  ($('.cart-open').hasClass('cart-open')){
        console.log(1);
        $('.cart-open').removeClass('cart-open')

      }
    });

    var current_currency = $('#localization_form select').val();

    

    function closeLaboNav(event) {
      event.preventDefault();
      $('.labo-nav-expanded').removeClass('labo-expandopwidth');
      $('.labo-nav-side-bar').removeClass('labo-nav-drop-shadow');
      $('body').removeClass('nav-open');

    }
    
    $('.labo-currency_popup-expanded ul li').each(function(){
      var currency_active = $(this).find('a').text();
      if(current_currency == currency_active){
      	$(this).addClass("active");
      } 
    });

    
    $('.labo-bars').click(function(event) {

      if($('body').hasClass('nav-open')){
        closeLaboNav(event);
      }else{
        // $('#site-overlay').css('width', '100%')
        // $('#site-overlay').css('z-index', '1')
        $('body.announcements-shown .labo-mobile-nav .labo-nav-side-bar').css('transition', '.8s')
        event.preventDefault();
        $('.drawer-page-content').off('click');
        $('body').addClass('nav-open');
        $('.labo-nav-expanded').toggleClass('labo-expandopwidth');
  
        if ($('body').hasClass('nav-open')) {
          $('.drawer-page-content').one('click', function() {
            $('body').removeClass('nav-open');
          })
        }
  
        $('.labo-currency_popup-expanded').removeClass('labo-expandopwidth');
        $('.labo-cart-expanded').removeClass('labo-expandopwidth');
      }
    });

    // $('a').click(function(){
    //   closeLaboNav(event);
    // })

    // window.onpageshow = function(event) {
    //   if (event.persisted) {
    //     closeLaboNav(event);
    //     // window.location.reload()
    //   }
    // };
    $('.js-go-cart-trigger-mobile').click( function (){
      if( $('body').hasClass("mini-cart-open")) {
        $('.go-cart__overlay').click();
        $("html").removeClass("ov_h");

      }else{
        $("html").addClass("ov_h");
        $('.js-go-cart-trigger').click();

      }
      // if( $('body').hasClass("mini-cart-open")) {
      //   $('body').removeClass("mini-cart-open");
      //   $('go-cart__drawer').removeClass('is-open');
      // }

        if( $('body').hasClass("nav-open")){
          $("#site-overlay").css("z-index", "2");


        $('body').removeClass("nav-open");
        setTimeout(function (){
          $("#site-overlay").css("z-index", "-5");

        }, 2000);
      }
    });

    $('.nav-toggle').click( function (){
      $('.js-go-cart-drawer-close').click();
    });


    if ($(window).width() < 768) {


    $('.labo-nav-items li').click( function (){

      if( $(this).hasClass("has-child") == false){
        if( $(this).hasClass("parent-item") == false && $(this).parents('.currency_selector').length == 0) {
          console.log(2);
          $('#site-overlay').click();
        }


      }

    });
    }
    //
    // window.addEventListener('beforeunload', function (e) {
    //   closeLaboNav(event);
    // });

    // $(window).on("beforeunload", function() { 
    //   closeLaboNav(event);
    // });

    $(window).on("unload", function(e) {
      closeLaboNav(event);
    });

    $('.labo-times').click(function(event) {
      closeLaboNav(event);
    });




    $(document).on("click", ".js-go-cart-drawer-close",function (e){
      $("html").removeClass("ov_h");
    });


    $('#site-overlay').click(function(event) {
      $("html").removeClass("ov_h");
      closeLaboNav(event);
      $('#site-overlay').css('width', '100%');
      $('#site-overlay').addClass('site-overlay-animated');
    });
 
    $('.labo-times').click(function(event) {
      closeLaboNav(event);
      $('#site-overlay').css('width', '100%');
      $('#site-overlay').addClass('site-overlay-animated');
    });

    $('.labo-bag-times').click(function(event) {
      closeLaboNav(event);
      $('#site-overlay').css('width', '100%');
      $('#site-overlay').addClass('site-overlay-animated');
    });

    $('.search-form-wrapper svg').click(function(event) {
      closeLaboNav(event);
      $('#site-overlay').css('width', '100%');
      $('#site-overlay').addClass('site-overlay-animated');
    });

    $('.labo-bag.mobile-cart-icon').click(function(event) {

      $('#site-overlay').css('width', '100%');
      $('#site-overlay').addClass('site-overlay-animated');
    });

    $('.labo-bars.nav-toggle').click(function(event) {


      $('#site-overlay').css('width', '100%');
      $('#site-overlay').addClass('site-overlay-animated');
    });


    $('#site-overlay').on("webkitAnimationEnd oanimationend msAnimationEnd animationend", function (){
      $(this).removeClass('site-overlay-animated')

    })








     $('.currency_popup').click(function(e) {
      e.preventDefault();
      e.stopPropagation();
      $('body').toggleClass('currency-open');
	    $('.labo-nav-expanded').removeClass('labo-expandopwidth');
      $('body').removeClass('nav-open');
      $('.labo-cart-expanded').removeClass('labo-expandopwidth');
      $('.labo-currency_popup-expanded').toggleClass('labo-expandopwidth');
    }); 




    $('.labo-bag').click(function(e) {
      e.preventDefault();
      e.stopPropagation();

      $('#site-overlay').css('width', '100%');

      $('body').toggleClass('cart-open');
	    $('.labo-nav-expanded').removeClass('labo-expandopwidth');
      $('body').removeClass('nav-open');
      $('.labo-currency_popup-expanded').removeClass('labo-expandopwidth');
      $('.labo-cart-expanded').toggleClass('labo-expandopwidth');
    });

    $('.labo-bag-times').click(function(e) {
      e.preventDefault();

      $('.labo-cart-expanded').removeClass('labo-expandopwidth');
      $('body').removeClass('cart-open');
      $('body').removeClass('currency-open');
      $('.labo-currency_popup-expanded').removeClass('labo-expandopwidth');



    });


    $(document).click(function(e) {
        if(!$(e.target).closest(".labo-cart-expanded").length && $('.labo-cart-expanded').hasClass('labo-expandopwidth') && !$(e.target).closest(".labo-mobile-nav .labo-cart-side-bar").length) {
          e.preventDefault();
          e.stopPropagation();
          $('body').removeClass('cart-open');
          $('.labo-cart-expanded').removeClass('labo-expandopwidth');
       }
    });
    $('.labo-desktop-nav-selector .labo-nav-link').click(function() {
      $(this).toggleClass('labo-nav-first-level-active');
      if ($(".labo-desktop-nav-selector ." + $(this).attr("data-target")).first().is(":hidden") ) {
        $(".labo-desktop-nav-selector ." + $(this).attr("data-target")).slideDown(); // Jamal start - line updated
        $(this).parent().addClass('labo-nav-first-level-page');
      } else {
        $(".labo-desktop-nav-selector ." + $(this).attr("data-target")).slideUp(); // Jamal start - line updated
        $(this).parent().removeClass('labo-nav-first-level-page');
      }
    });
    $('.labo-mobile-nav-selector .labo-nav-link').click(function() {
      $(this).toggleClass('labo-nav-first-level-active');
      if ($(".labo-mobile-nav-selector ." + $(this).attr("data-target")).first().is(":hidden") ) {
        $(".labo-mobile-nav-selector ." + $(this).attr("data-target")).slideDown(); // Jamal start - line updated
        $(this).parent().addClass('labo-nav-first-level-page');
      } else {
        $(".labo-mobile-nav-selector ." + $(this).attr("data-target")).slideUp(); // Jamal start - line updated
        $(this).parent().removeClass('labo-nav-first-level-page');
      }
    });
  });
</script>
<script defer>
  $(document).ready(function() {
    $('.labo-crt-popup-times').click(function() {
      $('.labo-cart-not-available-popup').removeClass('labo-cart-not-available-popup-active');
    });
    $('.labo-filter-checkbox-list input').change(function () {
      if( $('.labo-filter-checkbox-list  .labo-filter-checkbox').hasClass('labo-filter-checkbox-active')){

      }else{
        $('.labo-filter-button').removeClass('labo-filter-button-active');
      }
    })
  });
  $(document).ready(function() {
    $('.labo-cart-quantity-action').each(function() {
      var CountCartItem = $(this).children('span').text();
      var ThIsS = $(this);
      if (CountCartItem >= 10) {
        ThIsS.children('.laboHasnextClass').addClass('labo-cart-button-disabled');
      } else {
        ThIsS.children('.laboHasnextClass').removeClass('labo-cart-button-disabled');
      }
    });
    $('.labo-cart-quantity-action a').click(function() {
      var PARenT = $(this).parent();
      var ParentT = $(this).parent().children('span').text();
      if($(this).hasClass('laboHasnextClass')) {
        ParentT++;
      } else {
        ParentT--;
      }
      var ThIS = $(this);
      console.log(ParentT);
      if(ParentT > 9) {
        $('.labo-cart-not-available-popup').addClass('labo-cart-not-available-popup-active');
      }
      if (ParentT >= 10) {
        PARenT.children('.laboHasnextClass').addClass('labo-cart-button-disabled');
      } else {
        PARenT.children('.laboHasnextClass').removeClass('labo-cart-button-disabled');
      }
      /* $(document).on('cart.requestComplete', function(event, cart) {
        var ParentNEWText = ThIS.parent().text();
        if(ParentNEWText == ParentTText) {
          $('.labo-cart-not-available-popup').addClass('labo-cart-not-available-popup-active');
        }
      }); */
    });
  });


</script>

<script type="application/ld+json">
{ 
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ section.settings.tw }},
    {{ section.settings.fb }},
    {{ section.settings.insta }},
    {{ section.settings.tik }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
	  {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "#000"
      },
	  {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show Announcement",
        "default": false
      },
	  {
        "type": "color",
        "id": "an_background_color",
        "label": "Announcement Background color",
        "default": "#000"
      },
	  {
        "type": "color",
        "id": "an_color",
        "label": "Announcement Color",
        "default": "#fff"
      },
	  {
        "type": "text",
        "id": "insta",
        "label": "Instagram",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "fb",
        "label": "Facebook",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "tw",
        "label": "Twitter",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "tik",
        "label": "TikTok",
        "default": "#"
      },
	  {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
	  {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu"
      },
	  {
        "type": "link_list",
        "id": "currency_menu",
        "label": "Currency Menu"
      }
    ]
  }
{% endschema %}
