{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-03-17T17:51:05+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  120105
//      Project:        339
//      Environment:    741 - master
//      MD5:            95ec2c8f81d94e92125451e640652e41
//      Signature:      eyJpdiI6IktObHhzcEdJTnJxODJPXC8yVXByRWFRPT0iLCJ2YWx1ZSI6Impsam1rTVFBQ1wvemRWTzNoT0tLelwvVjMydnpKZ05qeDkwdzZjbDdBR21FUkpvQUlvb0xvbmZKVXBMUnBoRmZxNGhyb2o1dFUyU2Z1dm5vczh3QytDd2czWXNjWFpMUVB6VFM3VjMyTndoMWFIWTJxR1JQcEdzK1R5NUdPRnhDSG1wN2J4RVwvbTZ0SG0rNW0zc1FIeEJVczNcL1UyeFJpZlZTeVVMSWd5TzNUeDdyTmp3RU9ESzkwK25iaEYyMWtSZmdYS01mbkFFTlJGSGZSOVhhRit2a3AyVHdYMWRqclk3TnVpNnJcL0lOMHVJUVlVZGs5YjlqNnI1VTFrN0x0dk1BK1g0WjVcL1V3aEFkdnhIYkpweEkxbFJIMTBzdmJoRDRFdUV0UjlmUG9KZ2hCQm9GeU5aVWxiRG9VXC9lVHBqcDBJd0pkNXJwY0NzQTh0U3kwcUFkTDFMU0w4VHJ4bDJ4NHZaV3F2OGlZRDlVbzRjaHlqYThqS1dKc25HWEFxNzRCSk9vYVZWYkROMVN0VmlcL2ZtSDFjM1R1NkxuWnVNSHZHVFBnSlBcL2lSSXRYMHc9IiwibWFjIjoiMThlMjA4N2I4NGI1OWM5ZjQ3OGQ5MTM3YWYxYTYwNDUxMThlYzJhYjlmNDc0MzY2MDZhMmZlNGUwYzgzOGE5ZSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="container">
  <div class="inner">

    {% for block in section.blocks %}

      {% assign collection = collections[block.settings.collection] %}

      <div class="collection {{ collection.handle}} item-{{ forloop.index }}">
        <a href="{{ collection.url }}" class="collection-link">
          <img  loading="lazy"  src="{{ collection.image | img_url: 'master' }}"  data-src="{{ collection.image | img_url: 'master' }}"  {% if forloop.index == 1 %}width="610px" height="733px" {% else %} width="350px" height="364px"{% endif %} alt="{{ collection.image.alt }}" class="collection-image">
          
          <h2 class="collection-title">
            {{ collection.title }}
          </h2>
        </a>
      </div>
    {% endfor %}
    
  </div>
</div>

{% schema %}
  {
    "name": "Collection Grid",
	"class": "collection-grid",
	"tag": "section",
    "settings": [],
	"blocks": [
      {
        "type": "collection",
        "name": "Featured Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Custom Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Labo Custom",
        "name": "Labo Collection Grid"
      }
    ]
  }
{% endschema %}