{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-03-17T17:51:06+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  120105
//      Project:        339
//      Environment:    741 - master
//      MD5:            7db1550bd242e4afd06e00b60d10d35a
//      Signature:      eyJpdiI6ImpkdldSQ2F5Uk5xaXJRM3NtTWZ2RUE9PSIsInZhbHVlIjoiTGpPTGR2UjgrVGljV2tVK1ZUYWh0ZkI2TzF1aDlLOUpvd1ErZ09YQ2pKdmI1aUUrYzJ4WXVBTGxIc0RpaERIY21Cd1dcL1VzNWhYRWtjNW1Nckw2WmZ1OG5ZV1htSFwvak1DOEhGYjhtZnpYdjVNWExlSWI1azJtXC9uRHdJXC9PenRMXC96Y2V3a2xDYUliMmpWNTRGZWJCMEthS0pKRlY2QmEyZnl3eHdJU21FalNTanNoS1BmR3gwRmlkYmtrMk9vUFpMc01MelBOSzFQTjdJdTRNVW9QZTRPUUZ0R0c4SVdrT01JSmFjcTZZSStyNEo4M2ZTekZpQVV2aWFiMWN2N3hUamRRQnpEYllTbTEzSElPdm5pXC95UmZ1ZnVqMTZBT2ZLNFVxeWNXZ051WW9RMk1HSDVRK0VyWklMRFFCXC9xK1dNZ1FyYk14RTZNZklDeWdYbkxYSFwvcU9tYm5xZ1hQXC8xcmpzRUo5bGlCQzJ2akE1WldPYnE4WXdhbXNCYkZHV3dpYTBNdVF4UnhOUEN2dHAzejBITll5ZmNcL2lTR0pXMVhkRTRpM0hDbmhyU1k9IiwibWFjIjoiNGQ5MzA1ZWNiMThhNDI2NzFhOGYzZWJmN2UwOTdmZDk0NzAyMGZkYzAzMTY3OTUwMGM0NDE4OTI5YWVjNDk0ZSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="labo-collection-grid">

  <div class="container">

    <div class="row py-4 py-md-4">

       <div class="col-md-3 px-4 px-md-3 block_left">

        <div class="row h-100 pr-md-3">

          {% for block in section.blocks offset:1 limit: 2 %}

          {% assign collection = collections[block.settings.collection] %}

          <div class="col-md-6 mt-2 mb-5 my-md-1 pl-md-2 pr-md-0">

            <a href="{{ collection.url }}" class="labo-collection-grid-item labo-mob-sec-image">

              <img  loading="lazy"  src="{{ collection.image | img_url: '400x' }}" data-src="{{ collection.image | img_url: '400x' }}" class="labo-collection-image lazyload">

              <h2 class="labo-collection-title">

                {{ collection.title }}

              </h2>

            </a>

          </div>

          {% endfor %}

        </div>

      </div>

      

      <div class="col-md-6 mb-5 my-md-1 pr-md-0 pl-md-3 px-4 block_center">

        {% for block in section.blocks limit: 1 %}

        {% assign collection = collections[block.settings.collection] %}

        <a href="{{ collection.url }}" class="labo-collection-grid-item labo-mob-first-image">

          <img  loading="lazy"  src="{{ collection.image | img_url: '733x' }}" data-src="{{ collection.image | img_url: '733x' }}" class="labo-collection-image lazyload">

          <h2 class="labo-collection-title">

            {{ collection.title }}

          </h2>

        </a>

        {% endfor %}

      </div>

      <div class="col-md-3 px-4 px-md-3 block_right">

        <div class="row h-100 pr-md-3">

          {% for block in section.blocks offset:3 %}

          {% assign collection = collections[block.settings.collection] %}



          <div class="col-md-6 mt-2 mb-5 my-md-1 pl-md-2 pr-md-0">

            <a href="{{ collection.url }}" class="labo-collection-grid-item labo-mob-sec-image">

              <img  loading="lazy"  src="{{ collection.image | img_url: '400x' }}" data-src="{{ collection.image | img_url: '400x' }}" class="labo-collection-image lazyload">

              <h2 class="labo-collection-title">

                {{ collection.title }}

              </h2>

            </a>

          </div>

          {% endfor %}



        </div>

      </div>

    </div>

  </div>

</section>

{% schema %}

  {

    "name": "Labo Collections Grid",

    "settings": [],

	"blocks": [

      {

        "type": "collection",

        "name": "Featured Collection",

        "settings": [

          {

            "id": "collection",

            "type": "collection",

            "label": "Collection"

          },

          {

            "id": "image",

            "type": "image_picker",

            "label": "Custom Image"

          }

        ]

      }

    ]

  }

{% endschema %}



{% stylesheet %}

{% endstylesheet %}



{% javascript %}

{% endjavascript %}