<!-- <nft-card
  tokenAddress="0x5caebd3b32e210e85ce3e9d51638b9c445481567"
  tokenId="2242579050293992223"
  network="mainnet"
  referrerAddress="YOUR_ADDRESS_HERE"
  >
</nft-card> -->
<div class="nft_card_section">
  <div class="nft_card_position">
    <h3>{{ section.settings.nft_cs_head }}</h3>
    <div class="nft_card_content">
      <div class="ntf_cc_mobile"> {{ section.settings.nft_cs_form_head }} </div>
      <div class="nft_card_image">
        <a href="{{ section.settings.nft_cf_button_link}}" target="_blank">
        <img src="{{ section.settings.nft_cs_image | img_url: '800x' }}" srcset="{{ section.settings.nft_cs_image | img_url: 'master' }}" alt="{{ section.settings.nft_cs_image.alt | escape }}">
        </a>
      </div>
      <div class="nft_card_form">
        <p>{{ section.settings.nft_cs_form_head }}</p>
        <div class="nft_cf_price_block">
          <a href="{{ section.settings.nft_cf_button_link}}" target="_blank"><span>{{ section.settings.nft_cf_button_text}}</span></a>
        </div>
        <span>{{ section.settings.nft_cs_note }}</span>
      </div>
    </div>
  </div>
</div>

<style>
  .nft_card_section{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nft_card_position{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 52px 60px 99px;
    max-width: 1440px;
  }
  .nft_card_position h3{
    font-size: 45px;
    line-height: 50px;
    font-weight: 900 !important;
    font-family: "NeueHaasUnicaProBold";
    color: #101010;
    margin: 0 0 30px;
  }
  .nft_card_content{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .ntf_cc_mobile{
    display: none;
    font-size: 20px;
    line-height: 27px;
    font-family: "NeueHaasUnicaProMedium";
    color: #101010;
    margin-bottom: 30px;
  }
  .ntf_cc_mobile a{
    font-size: 16px;
    line-height: 23px;
    font-family: "NeueHaasUnicaProMedium";
    color: #101010;
    text-decoration: underline;
  }
  .nft_card_image{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #E6E8EB;
    border-radius: 4px;
    margin-right: 23px;
    padding: 52px 53px;
  }
  .nft_card_image img{
    max-height: 780px;
  }
  .nft_card_form{
    display: flex;
    max-width: 640px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .nft_card_form p{
    font-size: 20px;
    line-height: 27px;
    font-family: "NeueHaasUnicaProMedium";
    color: #101010;
    margin: 0;
  }
  .nft_card_form p a{
    font-size: 20px;
    line-height: 27px;
    font-family: "NeueHaasUnicaProMedium";
    color: #101010;
    margin: 0;
    text-decoration: underline;
  }
  .nft_card_form span{
    font-size: 12px;
    line-height: 16px;
    font-family: "NeueHaasUnicaProMedium";
    color: #101010;
  }
  .nft_cf_price_block{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 25px 0 50px;

  }
  .nft_cf_price_block a{
    font-size: 18px;
    line-height: 20px;
    font-family: "NeueHaasUnicaProMedium";
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #000000;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #000!important;
    transition: border-color .2s,color .2s,background-color .2s;
    width: 370px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding-top: 4px;
  }
  .nft_cf_price_block a span{
    font-size: 18px;
    line-height: 20px;
    font-family: "NeueHaasUnicaProMedium";
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 4px;

  }


  @media(  min-width: 768px){
    .nft_cf_price_block a:hover{
      background: #fff!important;
      color: #000!important;

    }
    .nft_cf_price_block a:hover span{
      color: #000!important;

    }
  }
  @media screen and (max-width:1000px){
    .nft_card_content{
      flex-direction: column;
    }
    .nft_card_image{
      width: 100%;
      margin-bottom: 5px;
    }
    .nft_card_form p{
      display: none;
    }
    .ntf_cc_mobile{
      display: block;
    }
    .nft_cf_price_block a span{

      margin-top: 6px;

    }
  }
  @media screen and (max-width:450px){
    .nft_cf_price_block a {
      pointer-events: auto;

    }

    .nft_cf_price_block a span{

      margin-top: 6px;

    }
    .nft_card_position{
      padding: 30px 23px 32px;
    }
    .nft_card_position h3{
      font-size: 33px;
      line-height: 38px;
    }
    .ntf_cc_mobile{
      font-size: 16px;
      line-height: 23px;
    }
    .nft_card_form span{
      font-size: 10px;
      line-height: 14px;
    }
    .nft_cf_number{
      line-height: 20px;
    }
    .nft_cf_price_block{
      margin: 30px 0;
    }
    .nft_cf_price_block a{
      padding: 15px 118px;
      width: 100%;
    }
    .nft_card_image{
      padding: 32px 53px;
    }
  }
</style>

{% schema %}
{
    "name": "NFT Card Section",
    "settings": [
        {
            "id":"nft_cs_head",
            "type":"text",
            "label":"Head"
        },
        {
          "id":"nft_cs_image",
          "type":"image_picker",
          "label":"Image"
        },
        {
            "id":"nft_cs_form_head",
            "type":"html",
            "label":"Form Head"
        },
        {
          "id":"nft_cf_button_link",
          "type":"url",
          "label":"Button url"
        },
        {
          "id":"nft_cf_button_text",
          "type":"text",
          "label":"Button text"
        },
        {
          "id":"nft_cs_note",
          "type":"textarea",
          "label":"Note"
        }
    ],
    "presets": [
    {
        "name": "NFT Card Section",
        "category": "Custom"
    }
    ]
}
{% endschema %}
