<div class="lb_second_section">
    <div class="lb_second_section_position">
        {% for block in section.blocks %}
        <div class="lb_ss_item">
            <h2>{{ block.settings.lb_ss_head }}</h2>
            {% if block.settings.gif_check %}
                <img src="{{ "Labodet_NFT.gif" | asset_url }}">
                {% else %} 
                <img src="{{ block.settings.lb_ss_img | img_url: '640x'}}" srcset="{{ block.settings.lb_ss_img | img_url: 'master'}}" alt="{{ block.settings.lb_ss_img.alt | escape }}">
            {% endif %}
            <span>{{ block.settings.lb_ss_information }}</span>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .lb_second_section{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .lb_second_section_position{
        display: flex;
        max-width: 640px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .lb_ss_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 60px 0 0;
    }
    .lb_ss_item h2{
        font-size: 45px;
        font-family: "NeueHaasUnicaProBold";
        font-weight: 800;
        line-height: 50px;
        color: #101010;
        margin: 0 0 30px;
    }
    .lb_ss_item img{
        max-width: 640px;
    }
    .lb_ss_item span{
        font-size: 20px;
        font-family: "NeueHaasUnicaProMedium";
        line-height: 27px;
        color: #101010;
        margin: 30px 0 15px;
    }
    @media screen and (max-width:700px){
        .lb_ss_item img{
            width: 100%;
        }
    }
    @media screen and (max-width:670px){
        .lb_ss_item{
            padding: 50px 0 0;
        }
        .lb_ss_item h2{
            font-size: 33px;
            line-height: 38px;
            margin: 0 21px 30px;
            letter-spacing: -1.2px;
        }
        .lb_ss_item span{
            font-size: 16px;
            line-height: 23px;
            margin: 30px 21px 0;
        }
    }
</style>

{% schema %}
{
    "name": "Second Section",
    "settings": [
    ],
    "blocks": [
    {
        "type":"select",
        "name":"Information Item",
        "settings":[
        {
            "id":"lb_ss_head",
            "type":"text",
            "label":"Head"
        },
        {
            "id":"lb_ss_img",
            "type":"image_picker",
            "label":"Image"
        },
        {
            "id":"gif_check",
            "type":"checkbox",
            "label":"Enable Gif"
        },
        {
            "id":"lb_ss_information",
            "type":"textarea",
            "label":"Info"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "Second Section",
        "category": "Custom"
    }
    ]
}
{% endschema %}
