{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-03-17T17:51:05+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  120105
//      Project:        339
//      Environment:    741 - master
//      MD5:            8b80b31249dd83ae98db4f77e9e8e7e8
//      Signature:      eyJpdiI6IkNwYytUMVFuWjZ4SXVxeVdmbTNIQ1E9PSIsInZhbHVlIjoiREVOZFhGblFFSCtMZ3lmbHRmVkpUbFpFUkVueDJFTzhtSWllc0Z6XC9xOUZlKzNKVEs0YWdGMXQwT2xkdVF5NDg1UmFvTGRNRm8zU0hKZUhSVzU5SFhyNnU4Ynl4dWc4bkFwU1lqeEo0U09zNlFsUTh3NHNxNitBUHp5aVFyeGlpSm9YaWVoek56SERZTmNYcmk0dmJ3VmRPNlwvSjlqd0pWQVJ3dktKMEhEVWp1UVdlaDQwbCs0MVo0VGJOOWtNbkthSll2eDFvZHBNMzJCemM0MXYzY1BKU0paMVgwY1owWjU2Z1VwV3hpZ1pJR2JCYTBcL1FyaUEzZ1lpUGw2TUxvcnRBVmFEckxWbHlsTzVLa0FuM05Idll5N1NVQlpVR25NS0lIUW9iM3hFckRraTRlV3FcLzZjdGRBTENVMWFDRGdSWlMrb284VXpZcDBxbEorWmlyWGQ3NWF3dzBrb2FCTFB6ODYwOVNmRDlkWDQ5WFVxNFFWQ2tLNmc3bWRGQm9DdzVjTVZ6RDdGZ0VVY1J5bTNZREV3YWc9PSIsIm1hYyI6IjY2ZDhkYzY3OGQ0NjkyOGJiYTEwN2YxNDlkYzhiZTUxMTA2NmQ1ODE0MWYzZDU2ZmY3MDlkZDk3YzNiOWQ1ZTMifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<footer class="labo-footer">
  <div class="container pt-4 pb-3">
    <div class="row pb-3">
      <div class="col-12 col-md-7">
        <div class="row row-1">
          <div class="col-6 col-md-12">
            <p>{{ section.settings.col1text }}</p>
          </div>
          <div class="col-6 d-md-none">
            <p class="labo-footer-social">
              {% unless section.settings.insta == blank %}
              <a href="{{ section.settings.insta }}" target="_blank"><i class="fab fa-instagram"></i></a>
              {% endunless %}
              {% unless section.settings.fb == blank %}
              <a href="{{ section.settings.fb }}" target="_blank"><i class="fa fa-facebook"></i></a>
              {% endunless %}
              {% unless section.settings.tw == blank %}
              <a href="{{ section.settings.tw }}" target="_blank"><i class="fab fa-twitter"></i></a>
              {% endunless %}
              {% unless section.settings.tik == blank %}
              <a href="{{ section.settings.tik }}" target="_blank"><i class="fab fa-tiktok"></i></a>
              {% endunless %}
            </p>
          </div>
        </div>
        {% comment %}
        {% form 'customer' %}
        <p>Sign up for news and exclusive offers</p>
        <p class="error color-danger">{{ form.errors | default_errors }}</p>
        <div class="input-group password__input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email"name="contact[email]" id="Email" placeholder="{% if form.posted_successfully? %}Thank you for signing up{% else %}Email Address{% endif %}" autocorrect="off" autocapitalize="off">
          <button type="submit" class="btn" name="commit" id="Subscribe">
            <i class="fas fa-envelope"></i>
          </button>
        </div>
        <p style="opacity: 0.7; font-size: 12px;">By subscribing to our newsletter you agree to our Privacy Policy</p>
        {% endform %}
        {% endcomment %}
      </div>
      <div class="col-12 col-md d-none d-md-block">
        <ul class="list-unstyled">
          {% unless section.settings.insta == blank %}
          <li><a href="{{ section.settings.insta }}" target="_blank">Instagram</a></li>
          {% endunless %}
          {% unless section.settings.fb == blank %}
          <li><a href="{{ section.settings.fb }}" target="_blank">Facebook</a></li>
          {% endunless %}
          {% unless section.settings.tw == blank %}
          <li><a href="{{ section.settings.tw }}" target="_blank">Twitter</a></li>
          {% endunless %}
          {% unless section.settings.tik == blank %}
          <li><a href="{{ section.settings.tik }}" target="_blank">TikTok</a></li>
          {% endunless %}
        </ul>
      </div>
      {% for block in section.blocks %}
      {% assign diff = 10 | minus: 1 %}
      {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: 1 %}
      <div class="col-12 col-md column-links">
        <ul class="list-unstyled d-none d-md-block">
          {% for link in linklists[block.settings.menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="list-unstyled d-block d-md-none">
          {% unless block.settings.title == blank %}
          <li>
            <a href="#" class="labo-footer-has-nav-child d-block w-100 text-decoration-none" data-target="{{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}">
              <span class="mr-2">{{ block.settings.title }}</span>
              <svg class="{{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}fas fticon-down" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6569 6.65685L7 11.1228L1.34315 6.65685" stroke="white"/>
              </svg>
              <svg class="{{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}fas fticon-up hide" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.34315 7.34315L7 2.87722L12.6569 7.34315" stroke="white"/>
              </svg>
            </a>
            <ul class="list-unstyled pl-4 hide {{ block.settings.title | replace: ' ', '-' }}-{{ randomNumber }}">
              {% for link in linklists[block.settings.menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          {% for link in linklists[block.settings.menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% endunless %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <div class="row d-none d-md-block">
      <div class="col-md-12 labo-footer-line">
      </div>
    </div>
    <div class="row pt-0 pt-md-3 labo-secondary-footer">
      <div class="col-12 col-md-7">
        <p class="m-0 text-left text-lg-left">{{ section.settings.copyright }}</p>
      </div>
      <div class="col-12 col-md d-none d-md-block">
        <p>&nbsp;</p>
      </div>
      <div class="col-12 col-md d-none d-md-block">
        <p>&nbsp;</p>
      </div>
      <div class="col-12 col-md mt-2 mt-md-0">
        <p class="m-0 text-left text-lg-left">
          {% for link in linklists[section.settings.footer_legal].links %}
          {% if forloop.first %}
          {% else %}
          <span class="labo-ft-separator">|</span>
          {% endif %}
          <a href="{{ link.url }}" class="text-decoration-underline">{{ link.title }}</a>
          {% endfor %}
          <small>{{ powered_by_link }}</small>
        </p>
      </div>
    </div>
  </div>
</footer>
<script>
  $(document).ready(function() {
    $('.labo-footer-has-nav-child').click(function() {
      if ($("." + $(this).attr("data-target")).first().is(":hidden") ) {
        $("." + $(this).attr("data-target")).show();
        $("." + $(this).attr("data-target") + "fas.fticon-down").addClass("hide");
        $("." + $(this).attr("data-target") + "fas.fticon-up").removeClass("hide");
      }
      else {
        $("." + $(this).attr("data-target")).hide();
        $("." + $(this).attr("data-target") + "fas.fticon-up").addClass("hide");
        $("." + $(this).attr("data-target") + "fas.fticon-down").removeClass("hide");
      }
    });
  });
</script>
<style>
  .labo-footer {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.color }};
  }
  .labo-footer input,
  .labo-footer button {
    border-color: {{ section.settings.color }}!important;
  }
  .labo-footer-line {
    background-color: {{ section.settings.color }};
  }
</style>
{% schema %}
  {
    "name": "Footer",
    "settings": [
	  {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "#ffffff"
      },
	  {
        "type": "textarea",
        "id": "col1text",
        "label": "Column 1 Content",
        "default": "100% Made in France"
      },
	  {
        "type": "text",
        "id": "insta",
        "label": "Instagram",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "fb",
        "label": "Facebook",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "tw",
        "label": "Twitter",
        "default": "#"
      },
	  {
        "type": "text",
        "id": "tik",
        "label": "TikTok",
        "default": "#"
      },
	  {
        "type": "textarea",
        "id": "copyright",
        "label": "Copyright Text",
        "default": "© 2020 LABODET, LLC. All rights reserved."
      },
	  {
        "type": "link_list",
        "id": "footer_legal",
        "label": "Footer Legal Menu"
      }
    ],
	"blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Mobile Title"
          },
          {
            "id": "menu",
            "type": "link_list",
            "label": "Select Menu"
          }
        ]
      }
    ]
  }
{% endschema %}