{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-03-17T17:51:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  120105
//      Project:        339
//      Environment:    741 - master
//      MD5:            f6f05215e45772c8707b4d0360bb515c
//      Signature:      eyJpdiI6Iitobm15Q0pOczhWM1V6cXdPUkF2ZXc9PSIsInZhbHVlIjoiWjNVUVBQaHA2Nzd4K011QnlHVjAza1gxNWF2ZzNGeUFGRzlrNlBxNDFQYVdiN0NPUEpOTzRJWXBzWmlheGZqZnhPU2d3Qk5tM1V6Z3FOdnJGU2s0Y2EzbGpxNkppcG5lc1JBK0ZsQkswUTAyNUI4dTFhMFNhSmY4MlY3Skp1bkxGT3YrS0RwZ1wvTkhGK2dnSlwvWVBzTE5USTZ4XC9qTnltbGloZEFoMHJPMnhPbFpsSHhNXC95QVB4TGRoQWlMa2xJaHJFaER4Y0tsbE9OcDBPZndBeVNSY2xWR1FIdXdCM2t6K25tS2JWdkFQSXltcVl4MWdZczNHMDFBMFBrbUpHbjRLdk5BOWh0RzZ5SkQzbHJJTEhvdFB0bXZHU3djYUx5dkJ4SzdvbktmVnMyTlN6NkFlWFwvalI5SW82TU91MExvdzdTV1wvdDh0RWk2b2JjMEQ3VmpoZEdMa1Z6Y3hmNXdEMVFqZkREdEJrbWhqTVdiZmRBM3haQ2p4WDZDWVZcL3hzMFdydTJpZ1dOSTI3eFR2bkxKOHBkSmJ4Qm16Q25tZGNpRDhieFF1QWZJOWc9IiwibWFjIjoiYjNmYjE5YzY5ZDNlYmI3MmMxMjZkODI2ZGUzNDEyNDBkYWE3MzdhMWRlMDhjMDJkZDNmYTczY2FlNDkwYjQxOSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2020-11-27T13:11:56+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  111020
//      Project:        339
//      Environment:    741 - master
//      MD5:            c6e536f6dc6113a1a2dfe4b75a44b959
//      Signature:      eyJpdiI6InVkR21Zb3NRb1pBblIxamZcL3NJVEJBPT0iLCJ2YWx1ZSI6ImFyT1JCdGVXTDlkWkhSK2E4OVpcL1RjOEV6OW1CQkhBKzNqSmZvUGtyamladEFuZnNaZExuc0g2ZUk5RU5LU0lqUXRjOVwvcFFlWm8zQXoxdlwvNkV0SkVtMWNGOHhFUDBjblE3Y09KSFdXSEo4cHhRRHBNdVNqUW9pK1laU3hTUklOTVlLWHhCNFdCUnZPZkhrWHVwQ1VWNmVCRTByZENvRWE4KzBvcnhobFBVZ0s1VVwvNUdEM1hHK0hncHorMHBUR0VcL2hZU0J6ZUttaGdaZVpGUW9FS0ExZkVcL3Z2bjFETmdKNjZBckxROEhqYm9UeTNLMlJFMVg1VXhNRDh4ZlZuelBGTjl0ZnNzSEpHMFJ6a3ZBYVpTN2h6RTQwaFdwR3ZZczZGK0dicFVtTWw5TnhoYWZHbnpNdXVlUjZLNDVYbFpSczEzcjZ4Q1F3cjVMTkZjQk85MWYxc2pPd2Z6Z2xzYXBEc0JZMWoxTExyTVdyNXZLaldXSmZZOEFVR09cLzRnYnVQVUdyM1hSTHUwOHlTcXR1WnNhTnpYcWk2VURsczhMMXlSVVBEdXZEYnk4PSIsIm1hYyI6ImVjZWU2NjA1MjgzNzg0Yjg1ZDIwZWQ4Y2MxN2FlOTA5MTRiYjcxNjY5MTI4MmI2Y2EyMmJkZjUyZTk5ODU4NmQifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="labo-product-page-template-main labo-product-page-template-main--no-variant border-bottom">
  <div class="container">
    {% unless section.settings.show_back_to_collection == false %}
    <div class="row d-none d-md-flex py-0">
      <div class="col-md-12 pl-md-1 labo-back-to-collection-pdp">
        <span class="mx-2">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.92893 15.0711L2.34653 8L7.92893 0.928932" stroke="black" />
          </svg>
        </span>
        <a href="{{ collection.url }}" class="labo-product-back-to-collection">
          Back to collection
        </a>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        if (document.referrer.includes('collections') == true) {
          $('a.labo-product-back-to-collection').attr('href', 'javascript:history.back()');
        }
      })
    </script>
    {% endunless %}


    <div class="row pt-0 pt-md-0 pb-0 pb-md-4 mb-md-2">
      <div class="col-md-7 px-0 px-md-3 position-relative">
        <div class="labo-product-image-gallery-mobile color-original-mbslider d-md-none" style="display: block;">
          {% for image in product.images %}
          {% comment %}<div class="labo-product-images-mobile">{% endcomment %}
            {% comment %}<img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}"
              class="product-carousel__item w-100">{% endcomment %}
            <img class="product-carousel__item d-block w-100" data-flickity-lazyload="{{ image | img_url: '1000x' }}"
              src="{{ image | img_url: '1500x', crop: 'center' }}"
              data-src="{{ image | img_url: '1500x', crop: 'center' }}" alt="img" />
            {% comment %}
          </div>{% endcomment %}
          {% endfor %}
        </div>

        <div class="labo-product-image-gallery-container row no-gutters d-none">
          {% for image in product.images %}
          {% unless forloop.first %}
          <div class="labo-product-image-gallery {{ image.alt }} col-md-6" data-name="{{ image.alt | split: " |" | last
            | strip }}" data-large="{{ image | img_url: 'master' }}">
            <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" class="w-100">
          </div>
          {% else %}
          <div class="labo-product-image-gallery {{ image.alt }} col-md-12" data-name="{{ image.alt | split: " |" | last
            | strip }}" data-large="{{ image | img_url: 'master' }}">
            <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" class="w-100">
          </div>
          {% endunless %}
          {% endfor %}
        </div>
      </div>

      <div class="col-md-5 mb-0 mb-md-2 px-md-0">
        <div class="labo-product-details-container p-3 pb-4 p-md-5 labo-product-page-grey-bg lebo-page-mobile-center">
          <p class="labo-product-made-in-text">
            {% if product.metafields.custom_fields["made_in_country_text"] != blank %}
            {{ product.metafields.custom_fields["made_in_country_text"] }}
            {% elsif section.settings.made_in_country != blank %}
            {{ section.settings.made_in_country }}
            {% endif %}
          </p>
          <h1 class="labo-product-page-title mb-1">
            {{ product.title }}
          </h1>
          <div id="labo-price-field" class="mb-3"></div>
          <form action="/cart/add" method="post" id="add-to-cart" {% if product.metafields.custom_fields["cart_status"]
            !=blank %} data-cart-status="{{ product.metafields.custom_fields[" cart_status"] }}"{% endif %}>
            <div id="product-variants" class="hide">
              <select id="product-select" name="id">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_without_trailing_zeros | replace: '.', ' ' }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% if product.available and product.variants.size > 1 %}
            {% render 'swatch' with 'Color' as swatch %}
            {% endif %}
            {% comment %}
            {% include 'swatch-metal' %}
            {% endcomment %}
            <div class="d-none mb-3 centered">
              {% if product.variants.size != 0 %}
              <div class="w-50 labo-product-swatch-switch labo-product-swatch-switch-active"
                id="labo_color_swatch_toggle">
                <p class="m-0">Color: <strong><span id="labo-color-change-onclick">Black</span></strong></p>
              </div>
              {% endif %}
              {% if product.metafields.custom_fields["metalware"] != blank %}
              <div class="w-50 labo-product-swatch-switch" id="labo_metal_swatch_toggle">
                <p class="m-0">Metal: <strong><span id="labo-metal-change-onclick">Gold</span></strong></p>
              </div>
              {% endif %}
            </div>

            {% include 'labo-device-list' %}
            {% comment %}<div class="labo-product-page-submit justify-center text-center" type="submit" name="add"
              value="Add to Bag" id="add"
              onclick="addDeviceItem('add-to-cart','currentDeviceName', '{{ product.metafields.custom_fields.animal_skin }}');">
              Add to Bag</div>{% endcomment %}

            <button type="submit" name="add" data-add-to-cart
              class="labo-product-page-submit justify-center text-center js-go-cart-add-to-cart" {% comment %}{%- unless
              current_variant.available -%}disabled="disabled" {%- endunless -%}{% endcomment %}>


              {{- 'products.product.add_to_cart' | t -}}


            </button>
          </form>
          <div class="d-none mt-3 text-center border border-dark show-on-click-cart p-3">
            Added
          </div>

          <div class="labo-shipping-info-content pt-3 border-bottom mb-3">
            <p id="labo_is_stock_or_not" data-stock="
{% if product.metafields.custom_fields[" in_stock_text"] !=blank %} {{
              product.metafields.custom_fields["in_stock_text"] }} {% else %} {{ section.settings.stock_text }} {% endif
              %}" data-out="
{% if product.metafields.custom_fields[" out_of_stock_text"] !=blank %} {{
              product.metafields.custom_fields["out_of_stock_text"] }} {% else %} {{ section.settings.out_text }}{%
              endif %}">
              {% if product.available %}
              {% if product.metafields.custom_fields["in_stock_text"] != blank %}
              {{ product.metafields.custom_fields["in_stock_text"] }}
              {% else %}
              {{ section.settings.stock_text }}
              {% endif %}
              {% else %}
              {% if product.metafields.custom_fields["out_of_stock_text"] != blank %}
              {{ product.metafields.custom_fields["out_of_stock_text"] }}
              {% else %}
              {{ section.settings.out_text }}
              {% endif %}
              {% endif %}
            </p>
          </div>
          <div class="labo-product-info-content">
            <p class="labo-product-page-desc">
              {{ product.description }}
            </p>
            <a href="#more-details" class="d-none mb-3"><span>More details</span></a>
          </div>
          <div class="labo-product-faq-toggle">
            {% if product.metafields.custom_fields["product_tabs"] != blank %}
            {% assign separator = "|###|" %}
            {% assign tab_title_array = product.metafields.custom_fields["tab_title"] | split: separator %}
            {% assign tab_content_array = product.metafields.custom_fields["tab_content"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["product_tabs"] | split: "," %}
            {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
            <div class="labo-product-faq-{{ forloop.index }}">
              <button class="labo-accordion">
                <strong>{{ tab_title_array[index] }}</strong>
                <svg class="pdicon-up" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.0711 8.07107L8 13.6535L0.928932 8.07107" stroke="black" />
                </svg>
                <svg class="pdicon-down" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.928932 7.92893L8 2.34653L15.0711 7.92893" stroke="black" />
                </svg>
              </button>
              <div class="labo-accordion-panel">
                {{ tab_content_array[index] }}
              </div>
            </div>
            {% endfor %}
            {% else %}
            {% for block in section.blocks %}
            <div class="labo-product-faq-{{ forloop.index }}">
              <button class="labo-accordion">
                <strong>{{ block.settings.title }}</strong>
                <svg class="pdicon-up" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.0711 8.07107L8 13.6535L0.928932 8.07107" stroke="black" />
                </svg>
                <svg class="pdicon-down" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.928932 7.92893L8 2.34653L15.0711 7.92893" stroke="black" />
                </svg>
              </button>
              <div class="labo-accordion-panel">
                <p>{{ block.settings.text }}</p>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}
<style>
  /* custom changes starts */
  .flickity-page-dots{
    position: relative;
    height: 1px;
    bottom: 0px !important;
  }
  .dragging{
    touch-action: none;
  }
  .flickity-page-dots{
    display: flex !important;
  }
  .flickity-page-dots .dot{
    width: -webkit-fill-available !important;
    height: 1px;
    margin: 0px !important;
    border-radius: unset !important;
  }

  /*----- changes on 16-8-2021---------*/
  .flickity-page-dots .dot.is-selected {
    /*     position: absolute;  */
    /* 	width: 6rem !important; */
    /* 	left: 0;
        right: 0;
        margin: auto !important; */
    /*     transition : .5s ease; */
    height: 2px !important;
    /*     bottom: -1px; */
    z-index: 1;
    position : relative;
    margin-top: -1px !important;
  }

  /*----- changes on 16-8-2021 end  ---------*/

  html {
    scroll-behavior: smooth;
  }
  .flickity-button{
    background: unset !important;
  }
  /* custom changes ends */

  /*.slick-slide:focus-visible {
    outline: 0 !important;
  }
  .slick-track{
    transform: translate3d(0px, 0px, 0px)!important;
    left: 0 !important;
  } */
  .labo-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .labo-accordion.active, .labo-accordion:hover {
    background-color: #ccc;
  }
  .labo-accordion-panel {
    padding: 0 18px;
    display: none;
    background-color: transparent;
    overflow: hidden;
  }
  .labo-product-faq-toggle .labo-accordion {
    background-color: #fafafa;
    padding-left: 0px;
  }
  .labo-product-faq-toggle .panel {
    background-color: #fafafa;
  }
  .labo-product-faq-toggle > div {
    border-bottom: 1px solid #ccc;
  }
  .labo-product-faq-toggle .labo-product-faq-1 {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .labo-product-faq-toggle .labo-accordion:focus {
    outline: unset;
  }
  .labo-product-faq-toggle .labo-accordion:after {
    content: '\f107';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: "Font Awesome 5 Free";
  }
  .labo-product-faq-toggle .labo-accordion.active:after {
    content: "\f106";
  }

  @media (min-width: 992px){
    .labo-product-device-dropdown{
      left: 0 !important;
      max-height: 40px !important;
      padding: 7px 25px;
      border-bottom: 1px solid #e5e5e5 !important;
      top: 0 !important;
    }
    .labo-product-device-dropdown .arrow-icon {
      position: absolute;
      right: 12px;
      top: 20px;
      padding: 0;
    }
    #shopify-section-product-template .labo-product-device-list {
      margin-bottom: 15px;
    }
  }

  .labo-product-device-variants{
    margin-bottom: 0;
  }

  .labo-product-device-variants{
    border-bottom: 0;
  }

  .labo-product-device-dropdown{
    border-bottom: 1px solid #000;
    position: relative;
    max-height: 45px;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .labo-product-device-dropdown svg{
    right: 18px !important;
    margin: -5px 0 0 8px;
  }
  .labo-product-device-dropdown .pc-arrow{
    transform: rotateX(0deg);
    transition: all .5s;
  }
  .labo-product-device-dropdown.show .pc-arrow{
    transform: rotateX(180deg);
  }

  .labo-product-device-dropdown.show{
    max-height: 200px !important;
  }
  @media (max-width: 767px){
    .labo-product-device-dropdown svg {
      right: 18px !important;
      margin: -1px 0 0 8px;
    }
  }


</style>
<script defer>
  var laboaccordion = document.getElementsByClassName("labo-accordion");
  var i;
  for (i = 0; i < laboaccordion.length; i++) {
    laboaccordion[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var labopanel = this.nextElementSibling;
      $(labopanel).slideToggle();
    });
  }

  $(document).ready(function(){
    $('.color-original-mbslider').flickity({
      // options
      draggable:1,
      freeScroll: false,
      contain: true,
      cellAlign:"center",
      adaptiveHeight: true,
      cellSelector: ".product-carousel__item",
      prevNextButtons: true,
      pageDots: true,
      wrapAround: true,
      selectedAttraction:.15,
      friction: .8
    });
    $(".previous").html('<svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5824 14.5711L1 7.49999L6.5824 0.428925" stroke="black"/></svg>');
    $(".next").html('<svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.417969 0.428925L6.00037 7.49999L0.41797 14.5711" stroke="black"/></svg>');
    $(".flickity-enabled").css("touch-action","none");
    var scroll = $(window).scrollTop();
    $(".flickity-viewport").css("touch-action","");
    console.log(scroll);
    $('.flickity-enabled').on('touchstart',function(e){
      var startY = e.originalEvent.touches[0].clientY;
      var startX = e.originalEvent.touches[0].clientX;
      var degAr = [];
      var disAr = [];
      var Y = ['y'];
      var X = ['x'];
      var i = 0;
      $('.flickity-enabled').on('touchmove',function(e){
        Y.push(e.originalEvent.touches[0].clientY);
        X.push(e.originalEvent.touches[0].clientX);
        var lasty = Y.pop();
        var lastx = X.pop();

        var distY = lasty-startY;
        disAr[i] = distY;
        var distX = lastx-startX;
        var slope = (distY/distX);
        var degrees = Math.atan(slope)*(57.2958);

        if(distX<0 && distY>0){
          var rdegree = 180 + degrees;
        }else if(distX<0 && distY<0){
          var rdegree = 180 + degrees;
        }else if(distX>0 && distY<0){
          var rdegree = 360 + degrees;
        }else{
          var rdegree = degrees;
        }
        var fdegree = (360-rdegree);

        degAr[i] = fdegree;
        i++;
        var lengthArr = degAr.length;
      });
      setTimeout(function(){
        var fdegreee = degAr.pop();
        var fdistancey = disAr.pop() * (-1);
        console.log(fdistancey);
        if(fdegreee>=60 && fdegreee<=120 || fdegreee>=240 && fdegreee<=300){
          e.preventDefault();
          $(".flickity-enabled").css("touch-action","auto");

        }else{
          e.preventDefault();
          $(".flickity-enabled").css("touch-action","none");

        }
        if(fdegreee>=60 && fdegreee<=120){
          e.preventDefault();

          var touchattr = $('.flickity-enabled').css("touch-action");
          if(touchattr == 'auto'){
            //$('html, body').animate({scrollTop: scroll + $(window).height()}, '1000');
            //$('html, body').animate({scrollTop: scroll + fdistancey}, '1000');
            //$(".flickity-enabled").css("touch-action","none");
          }

        }
      }, 120);
    });
  });
</script>

<style>
  a[data-add-to-cart]{
    background: #000;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    color: #fff;
    width: 100%;
    display: block;
    line-height: 40px;
    height: 40px;
    margin-top: 20px;
    transition-duration: .6s;
    text-align: center;
    text-decoration: none;
  }
  a[data-add-to-cart]:hover{
    background: #fff!important;
    color: #000!important;
    border: 1px solid #000!important;
  }
.labo-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.labo-accordion.active, .labo-accordion:hover {
  background-color: #ccc;
}
.labo-accordion-panel {
  padding: 0 18px;
  display: none;
  background-color: transparent;
  overflow: hidden;
}
.labo-product-faq-toggle .labo-accordion {
    background-color: #fafafa;
    padding-left: 0px;
}
.labo-product-faq-toggle .panel {
    background-color: #fafafa;
}
.labo-product-faq-toggle > div {
  border-bottom: 1px solid #ccc;
}
.labo-product-faq-toggle .labo-product-faq-1 {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.labo-product-faq-toggle .labo-accordion:focus {
    outline: unset;
}
.labo-product-faq-toggle .labo-accordion:after {
    content: '\f107';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: "Font Awesome 5 Free";
}
.labo-product-faq-toggle .labo-accordion.active:after {
    content: "\f106";
}

.labo-product-price{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    line-height: 25px;
    margin-top: -10px;
}

  .labo-product-image-gallery{
    margin-top: 0px !important;
  }
</style>

<script>
  //$('.labo-product-image-gallery-mobile').flickity('resize');
  window.onload = function(){
    window.dispatchEvent(new Event('resize'));
  }
  
  $('document').ready(function() {
    $('.labo-product-image-gallery-mobile').flickity('resize');
    window.onload = function(){
      window.dispatchEvent(new Event('resize'));
    }
    var xStart, xEnd;
    var yStart, yEnd;
      slickElement = $(".labo-product-image-gallery-mobile");

    var hasvariant = true;
    var cliKEDcolor = $('#labo-Color-swatch input:checked').val();
    var cliKEDmetal = $('#labo-Metalware-swatch input:checked').val();
    if (cliKEDcolor === undefined && cliKEDmetal === undefined) {
      var finALvariant = cliKEDcolor + '-' + cliKEDmetal;
      var finALwithdash = finALvariant;
      var hasvariant = false;
    }
    else if (cliKEDcolor === undefined) {
      var finALvariant = cliKEDmetal;
      var finALwithdash = finALvariant;
    }
    else if (cliKEDmetal === undefined) {
      var finALvariant = cliKEDcolor;
      var finALwithdash = finALvariant;
    }
    else {
      var finALvariant = cliKEDcolor + ' ' + cliKEDmetal;
      var finALwithdash = finALvariant.split(' ').join('-');
    }
    $('.labo-product-image-gallery-mobile').addClass('hide');
    $('.color-' + finALwithdash + '-mbslider').removeClass('hide');
    $('.labo-product-image-gallery-mobile').flickity('resize');
    window.onload = function(){
      window.dispatchEvent(new Event('resize'));
    }
//     $('.color-' + finALwithdash + '-mbslider').not('.slick-initialized').slick();
//     $('.color-' + finALwithdash + '-mbslider').flickity({
//       options
//       cellAlign: 'center',
//       contain: true,
//       prevNextButtons: false,
//       pageDots: false,
//       wrapAround: true
//     });
    
    
    $('#labo-color-change-onclick').text(cliKEDcolor);
    $('#labo-metal-change-onclick').text(cliKEDmetal);
    $('.labo-product-image-gallery-container img').each(function() {
      $('.labo-product-image-gallery-container img[data-color="' + finALwithdash + '"]').parent().show();
    });
    $('.labo-product-image-gallery-container img[data-color="' + finALwithdash + '"]').each(function(i) {
      $(this).parent().addClass('labo-gallery-images-new-logic' + i);
    });
    $('.labo-product-image-gallery-container').find('div:visible:first').removeClass('col-md-6').addClass('col-md-12');
    if($('.labo-product-image-gallery').length % 2 != 1) {
    $('.labo-product-image-gallery-container').find('div:visible:last').removeClass('col-md-6').addClass('col-md-12');
  }
    $('.color.swatch-element input').click(function() {
      var cliKEDcolOR = $('#labo-Color-swatch input:checked').val();
      var cliKEDmetAL = $('#labo-Metalware-swatch input:checked').val();
      if (cliKEDcolOR === undefined && cliKEDmetAL === undefined) {
        var finALvariaNT = cliKEDcolOR + '-' + cliKEDmetAL;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
        var hasvariant = false;
      }
      else if (cliKEDcolOR === undefined) {
        var finALvariaNT = cliKEDmetAL;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
      }
      else if (cliKEDmetAL === undefined) {
        var finALvariaNT = cliKEDcolOR;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
      }
      else {
        var finALvariaNT = cliKEDcolOR + ' ' + cliKEDmetAL;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
      }
      $('#labo-color-change-onclick').text(cliKEDcolOR);
      $('#labo-metal-change-onclick').text(cliKEDmetAL);
      $('.labo-product-image-gallery-container img').each(function() {
        $('.labo-product-image-gallery-container img').parent().hide();
        $('.labo-product-image-gallery-container img[data-color="' + finALwithdaSH + '"]').parent().show();
        $('.labo-product-image-gallery-container').find('div:visible:first').removeClass('col-md-6').addClass('col-md-12');
        $('.labo-product-image-gallery-container').find('div:visible:last').removeClass('col-md-6').addClass('col-md-12');
      });
      $('.labo-product-image-gallery-container img[data-color="' + finALwithdaSH + '"]').each(function(i) {
        $(this).parent().addClass('labo-gallery-images-new-logic' + i);
      });
    });
    $('.color.swatch-element input').click(function() {
      var cliKEDcolOR = $('#labo-Color-swatch input:checked').val();
      var cliKEDmetAL = $('#labo-Metalware-swatch input:checked').val();
      if (cliKEDcolOR === undefined && cliKEDmetAL === undefined) {
        var finALvariaNT = cliKEDcolOR + '-' + cliKEDmetAL;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
        var hasvariant = false;
      }
      else if (cliKEDcolOR === undefined) {
        var finALvariaNT = cliKEDmetAL;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
      }
      else if (cliKEDmetAL === undefined) {
        var finALvariaNT = cliKEDcolOR;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
      }
      else {
        var finALvariaNT = cliKEDcolOR + ' ' + cliKEDmetAL;
        var finALwithdaSH = finALvariaNT.split(' ').join('-');
      }
      $('.labo-product-image-gallery-mobile').addClass('hide');
      $('.color-' + finALwithdaSH + '-mbslider').removeClass('hide');
      $('.color-' + finALwithdaSH + '-mbslider').flickity('resize');
      window.onload = function(){
        window.dispatchEvent(new Event('resize'));
      }
      //$('.color-' + finALwithdaSH + '-mbslider').not('.slick-initialized').slick();
      //$('.color-' + finALwithdaSH + '-mbslider.slick-initialized').slick('refresh');
      // $('.color-' + finALwithdaSH + '-mbslider').flickity({
      //   // options
      //   cellAlign: 'left',
      //   contain: true,
      //   prevNextButtons: false,
      //   pageDots: true
      // });
      // $('.color-' + finALwithdaSH + '-mbslider.slick-initialized').slick('refresh');
    });
    $('.color.swatch-element input').click(function() {
      var labocurrentvariant = $( "#product-select" ).val();
      $("#labo-Metal-swatch a").each(function() {
        var labometal = $(this).attr("href");
        $(this).attr("href", labometal + '?variant=' + labocurrentvariant);
      });
    });
    let isOpen = false;
    let dropOpen = () => isOpen = !isOpen;
    $('.labo-mb-selectbox').click(function() {
      
      $('.labo-product-device-dropdown').toggleClass('show')
    });
    $('#labo_color_swatch_toggle').click(function() {
      $('#labo-Metalware-swatch').hide();
      $('#labo-Color-swatch').show();
      $('#labo_metal_swatch_toggle').removeClass('labo-product-swatch-switch-active');
      $(this).addClass('labo-product-swatch-switch-active');
    });
    $('#labo_metal_swatch_toggle').click(function() {
      $('#labo-Color-swatch').hide();
      $('#labo-Metalware-swatch').show();
      $('#labo_color_swatch_toggle').removeClass('labo-product-swatch-switch-active');
      $(this).addClass('labo-product-swatch-switch-active');
    });
    var x = window.matchMedia("(max-width: 767px)");
    if (x.matches) {
      if($("#labo_color_swatch_toggle").hasClass("labo-product-swatch-switch-active")) {
        $('#labo-Metalware-swatch').hide();
        $('#labo-Color-swatch').show();
      }
      if($("#labo_metal_swatch_toggle").hasClass("labo-product-swatch-switch-active")) {
        $('#labo-Color-swatch').hide();
        $('#labo-Metalware-swatch').show();
      }
    }
    Flickity.prototype.hasDragStarted = function( moveVector ) {
    //   // start dragging after pointer has moved 3 pixels in either direction
       return !this.isTouchScrolling && Math.abs( moveVector.x ) > 3;
    };


    let lCs = $("#labo-Color-swatch .swatch-element");

    if(lCs.length === 10){
      lCs.closest("#labo-Color-swatch").addClass("ten");
    }
  });


</script>

<style>
  .shopify-payment-button__more-options{
  	display:none!important;
  }
  .shopify-payment-button button,
  .shopify-payment-button input,
  .shopify-payment-button a,
  .shopify-payment-button div[role="button"]{
    padding: 0 20px!important;
    height: 40px!important;
    line-height: 40px!important;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border-radius: 0px!important;
  }
  .shopify-payment-button button:hover,
  .shopify-payment-button input:hover,
  .shopify-payment-button a:hover,
  .shopify-payment-button div[role="button"]:hover{
    background: #fff!important;
    color: #000!important;
    border: 1px solid #000!important;
  }
  .shopify-payment-button{
  	margin-top: 10px;
  }
  .shopify-payment-button span[aria-hidden="true"]{
  	/*display:none!important*/
  }
  
  @media (max-width: 767px){
    .shopify-payment-button button,
    .shopify-payment-button input,
    .shopify-payment-button a,
    .shopify-payment-button div[role="button"]{
      height: 50px!important;
      line-height: 50px!important;
    }
    
    .shopify-payment-button div[role="button"]{
      display:block!important;
    }
    
  }
</style>

{% schema %}
  {
    "name": "Product Main Section",
    "settings": [
    {
    "type": "checkbox",
    "id": "show_back_to_collection",
    "label": "Show Back to Collection Link",
    "default": true
    },
    {
    "type": "text",
    "id": "made_in_country",
    "label": "Default Made in Country Text",
    "default": "Made in France"
    },
    {
    "type": "textarea",
    "id": "stock_text",
    "label": "In Stock Text",
    "default": "<strong>In Stock.</strong> Ships in 3-5 days from Paris, France. Free worldwide shiping."
    },
    {
    "type": "textarea",
    "id": "out_text",
    "label": "Out of Stock Text",
    "default": "<strong>Out of Stock.</strong>"
    }
  ],
    "blocks": [
      {
        "type": "accordions",
        "name": "Accordions",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}