{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2021-04-01T16:15:24+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  121331
//      Project:        339
//      Environment:    741 - master
//      MD5:            07fb59717a533411b61edf641cbe3e01
//      Signature:      eyJpdiI6IlwveDdRRzlcLzJhU0pjRFpsaHY1N01zUT09IiwidmFsdWUiOiJNM3Q1U2tNUXkxU0VYVUh3RnF4RGFORTJabTJzVkJuRVE3d1JxN2t2eURLNURpdWxRTWdvbnlFVlF3S1V1TmlHc1M3OHpMdnE4dzBhR0Z0bHpkdUtOVFFtWTNmSnlKOUNJYTRRZUJGcGNSeldEZTRGZVl6MmVPQ2VlcGQ2bEJ3OGI3NmZjSlYyTTFZazRUd2JlYVlcLzk5a0laT05ta0dsVndjNG5WQmNRK2tMdks4Y2hLV3Y4dHY1XC9UbmRNZkpzNmg2Y1BHaGVXRkJuN0J6QkRJNU5LZWRVaWpTUUJpZW9qcEV6ZHV2c2p3b1R5bDdLSjdMbE13Zzd0Z1wvcENLZm15SkYwMUhcL2w3MFNIT0tGNkZQcGYyM0VmbmtQRTZJakEzYnpzNTlLTUR1SUFseUg5WFplWHEzZWI0MDBINVFEM2xPUTc5SVR1MjlRN2ViMmhyVHpWdzZYN0lzZjR5T1Q2bzFiZ21XN3JxSFc3UXFkWWxNakp5SENKNWRLU21tQ2UxNFg0V1wvdDdiRFwvV3d2WjJFdnJ3T3Y3R2lsTWdBK2xLQW5BTkxoazQyV2pJPSIsIm1hYyI6IjM2NzYwNTFiZWMzYWJkYmY3OGRkMjQ0NzFhNTBkMmNjNTg3ODc5M2E0YTAwNWI2MGQ4ZmQ2NzNkMzJiY2YyZjAifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% if section.settings.show_advanced_section == true %}
{% if product.metafields.custom_fields["advanced_sections"] != blank %}
<section class="labo-product-advanced-sections mt-md-4 pt-md-2 border-md-bottom">
  <div class="container">
    {% assign separator = "|###|" %}
    {% assign section_title_array = product.metafields.custom_fields["section_title"] | split: separator %}
    {% assign text_content_array = product.metafields.custom_fields["text_content"] | split: separator %}
    {% assign image_array = product.metafields.custom_fields["image"] | split: separator %}
    {% assign style_array = product.metafields.custom_fields["style"] | split: separator %}
    {% assign fc_keys = product.metafields.custom_fields["advanced_sections"] | split: "," %}
    {% for i in fc_keys %}
    {% assign index = i | plus: 0 %}
    <div class="row">
      {% if style_array[index] == 'Right Image, Left Text' %}
      <div class="col-md-6 p-0 py-md-2 px-md-2 labo-css-order-2">
        <div class="labo-product-page-grey-bg h-100 align-items-center justify-content-center d-flex py-4 px-3 p-md-5">
          <div class="labo-max-w-378">
            {% unless section_title_array[index] == blank %}
            <h2 class="labo-product-advanced-title">{{ section_title_array[index] }}</h2>
            {% endunless %}
            {% unless text_content_array[index] == blank %}
            <p class="m-0">{{ text_content_array[index] | strip_html | strip | strip_newlines }}</p>
            {% endunless %}
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 py-md-2 px-md-2 labo-css-order-1 img-order">
        <img  loading="lazy"  src="{{ image_array[index] }}" data-src="{{ image_array[index] }}" class="d-block w-100">
      </div>
      {% else %}
      <div class="col-md-6 p-0 py-md-2 px-md-2 labo-css-order-1 img-order">
        <img  loading="lazy"  src="{{ image_array[index] }}" data-src="{{ image_array[index] }}" class="d-block w-100">
      </div>
      <div class="col-md-6 p-0 py-md-2 px-md-2 labo-css-order-2">
        <div class="labo-product-page-grey-bg h-100 align-items-center justify-content-center d-flex py-4 px-3 p-md-5">
          <div class="labo-max-w-378">
            {% unless section_title_array[index] == blank %}
            <h2 class="labo-product-advanced-title">{{ section_title_array[index] }}</h2>
            {% endunless %}
            {% unless text_content_array[index] == blank %}
            <p class="m-0">{{ text_content_array[index] | strip_html | strip | strip_newlines }}</p>
            {% endunless %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
{% endif %}

{% schema %}
  {
    "name": "Product Advanced Sections",
    "settings": [
	  {
		"type": "checkbox",
		"id": "show_advanced_section",
		"label": "Show Advanced Sections",
		"default": true
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
